# Temblores en todo el mundo | USGS

#### Autor: Rodolfo Pardo

<img src="usgswhite.green.jpg">

Introducción: 

La USGS encargó a su equipo de Data que analicen los movimientos sísmicos sucedidos durante este 2019 para conocer los eventos de mayor impacto en el mundo por diferentes parámetros

El problema: 

Tienen todos los datos a medida que los eventos han ido sucediendo pero les gustaría primero pasarlos a un DataFrame y ordenarlo por diferentes variables 

Descripción: 

1. Fuente: https://earthquake.usgs.gov/fdsnws/event/1/
2. Tipo de fuente: API / GeoJson
3. Autor del estudio: Rodolfo Pardo
4. Lenguaje programación utilizado: Python
5. Librerías utilizadas: Requests, Json, Pandas

Objetivos del estudio: 

1. Identificar los 10 eventos más significantes este año > magnitud.csv
2. Cuales fueron capaces de generar tsunamis en sus regiones > tsunamis.csv
3. Cuales fueron los que impactaron a México > mexico.csv
4. Cuáles fueron los que impactaron a Argentina > argentina.csv

In [4]:
#Importamos librerías a utilizar 

import requests
import pandas as pd
from pandas.io.json import json_normalize

In [29]:
#Comenzamos a buscar la data con parametros predefinidos en la url 

def data_to_json(url):
    try:
        data = requests.get(url)
        data_json = data.json()
        return data_json
    except:
        print('La url tiene un error')

def data_to_csv(data):
    df.to_csv("sismos.csv")
        
url = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2019-01-01&endtime=2019-07-01&minmagnitude=5"
data_to_json(url)
df = json_normalize(data_json["features"]) 
data_to_csv(data_json)

Conocemos nuestra base

In [30]:
#Conociendo las columnas 
df.columns

Index(['geometry.coordinates', 'geometry.type', 'id', 'properties.alert',
       'properties.cdi', 'properties.code', 'properties.detail',
       'properties.dmin', 'properties.felt', 'properties.gap',
       'properties.ids', 'properties.mag', 'properties.magType',
       'properties.mmi', 'properties.net', 'properties.nst',
       'properties.place', 'properties.rms', 'properties.sig',
       'properties.sources', 'properties.status', 'properties.time',
       'properties.title', 'properties.tsunami', 'properties.type',
       'properties.types', 'properties.tz', 'properties.updated',
       'properties.url', 'type'],
      dtype='object')

In [33]:
#Contabilizando la cantidad de columnas 
len(df.columns)

30

In [34]:
#Mostrando los primeros resultados

df.head(5)

,geometry.coordinates,geometry.type,id,properties.alert,properties.cdi,properties.code,properties.detail,properties.dmin,properties.felt,properties.gap,...,properties.status,properties.time,properties.title,properties.tsunami,properties.type,properties.types,properties.tz,properties.updated,properties.url,type
0,"[-13.0395, -1.7531, 10]",Point,us700047g7,None,NaN,700047g7,https://earthquake.usgs.gov/fdsnws/event/1/que...,6.278,NaN,49.0,...,reviewed,1561837880892,M 5.0 - North of Ascension Island,0,earthquake,",geoserve,moment-tensor,origin,phase-data,",-60,1562179078040,https://earthquake.usgs.gov/earthquakes/eventp...,Feature
1,"[-27.2372, -56.2781, 104.96]",Point,us700047fz,None,NaN,700047fz,https://earthquake.usgs.gov/fdsnws/event/1/que...,5.652,NaN,90.0,...,reviewed,1561837596750,"M 5.3 - 47km N of Visokoi Island, South Georgi...",0,earthquake,",geoserve,origin,phase-data,",-120,1561838529040,https://earthquake.usgs.gov/earthquakes/eventp...,Feature
2,"[122.5072, 22.2807, 10]",Point,us700047fu,None,2.2,700047fu,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.423,2.0,60.0,...,reviewed,1561837450531,"M 5.2 - 149km ESE of Taitung City, Taiwan",0,earthquake,",dyfi,geoserve,origin,phase-data,",480,1561863463118,https://earthquake.usgs.gov/earthquakes/eventp...,Feature
3,"[158.1824, -8.8913, 10]",Point,us700047fr,None,NaN,700047fr,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.825,NaN,56.0,...,reviewed,1561837002794,"M 5.1 - 132km SW of Dadali, Solomon Islands",0,earthquake,",geoserve,origin,phase-data,",660,1561838213040,https://earthquake.usgs.gov/earthquakes/eventp...,Feature
4,"[125.0903, 9.7129, 48.15]",Point,us700047eq,None,4.5,700047eq,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.670,18.0,96.0,...,reviewed,1561834807383,"M 5.0 - 30km SW of Pintuyan, Philippines",0,earthquake,",dyfi,geoserve,origin,phase-data,",480,1561980818852,https://earthquake.usgs.gov/earthquakes/eventp...,Feature

In [35]:
#Mostrando los ultimos 5 resultados

df.tail(5)

,geometry.coordinates,geometry.type,id,properties.alert,properties.cdi,properties.code,properties.detail,properties.dmin,properties.felt,properties.gap,...,properties.status,properties.time,properties.title,properties.tsunami,properties.type,properties.types,properties.tz,properties.updated,properties.url,type
803,"[139.0416, -2.0544, 34.52]",Point,us2000izsn,None,2.0,2000izsn,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.723,1.0,26.0,...,reviewed,1546415990040,"M 5.0 - 183km WNW of Abepura, Indonesia",1,earthquake,",dyfi,geoserve,origin,phase-data,",540,1552067413040,https://earthquake.usgs.gov/earthquakes/eventp...,Feature
804,"[104.4129, 42.4859, 10]",Point,us2000izrq,None,2.0,2000izrq,https://earthquake.usgs.gov/fdsnws/event/1/que...,5.693,1.0,41.0,...,reviewed,1546398774750,"M 5.0 - 71km WSW of Sangiyn Dalay, Mongolia",0,earthquake,",dyfi,geoserve,origin,phase-data,",480,1552067413040,https://earthquake.usgs.gov/earthquakes/eventp...,Feature
805,"[99.6762, -2.4525, 10]",Point,us2000izpf,None,NaN,2000izpf,https://earthquake.usgs.gov/fdsnws/event/1/que...,3.782,NaN,127.0,...,reviewed,1546374276330,"M 5.1 - 107km SSE of Muara Siberut, Indonesia",1,earthquake,",geoserve,origin,phase-data,",420,1552067413040,https://earthquake.usgs.gov/earthquakes/eventp...,Feature
806,"[122.6874, -9.5818, 62.72]",Point,us2000iznk,None,2.0,2000iznk,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.039,1.0,57.0,...,reviewed,1546359936300,"M 5.0 - 98km SSE of Habibola, Indonesia",0,earthquake,",dyfi,geoserve,moment-tensor,origin,phase-data,",480,1552067413040,https://earthquake.usgs.gov/earthquakes/eventp...,Feature
807,"[-149.9523, 61.2975, 44.4]",Point,ak0191pccr7,green,4.4,0191pccr7,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,1074.0,NaN,...,reviewed,1546311810604,"M 5.0 - 9km NNW of Anchorage, Alaska",1,earthquake,",dyfi,geoserve,ground-failure,impact-link,loss...",-540,1552067413040,https://earthquake.usgs.gov/earthquakes/eventp...,Feature

In [36]:
#Estadistica descriptiva de la muestra 

df.describe()

,properties.cdi,properties.dmin,properties.felt,properties.gap,properties.mag,properties.mmi,properties.nst,properties.rms,properties.sig,properties.time,properties.tsunami,properties.tz,properties.updated
count,314.000000,798.000000,314.000000,800.000000,808.000000,306.000000,4.000000,808.000000,808.000000,8.080000e+02,808.000000,808.000000,8.080000e+02
mean,3.800955,4.017233,78.391720,61.262500,5.338812,2.878356,52.250000,0.900149,457.684406,1.554122e+12,0.237624,119.257426,1.559056e+12
std,1.718003,4.534856,307.867782,36.011034,0.421540,2.470663,28.453178,0.220337,139.648339,4.687400e+09,0.425891,508.423657,3.128807e+09
min,0.000000,0.031160,0.000000,11.000000,5.000000,0.000000,22.000000,0.120000,385.000000,1.546312e+12,0.000000,-720.000000,1.552067e+12
25%,2.200000,1.564500,2.000000,35.000000,5.000000,0.000000,31.000000,0.740000,386.750000,1.549758e+12,0.000000,-300.000000,1.556206e+12
50%,3.800000,2.748500,5.000000,53.000000,5.200000,3.608000,54.500000,0.880000,416.000000,1.554091e+12,0.000000,420.000000,1.559847e+12
75%,4.800000,4.490250,20.000000,78.000000,5.500000,4.630750,75.750000,1.040000,466.000000,1.558107e+12,0.000000,540.000000,1.561563e+12
max,9.100000,39.730000,2852.000000,252.000000,8.000000,7.945000,78.000000,1.670000,2060.000000,1.561838e+12,1.000000,720.000000,1.563484e+12

In [37]:
df.dtypes

geometry.coordinates     object
geometry.type            object
id                       object
properties.alert         object
properties.cdi          float64
properties.code          object
properties.detail        object
properties.dmin         float64
properties.felt         float64
properties.gap          float64
properties.ids           object
properties.mag          float64
properties.magType       object
properties.mmi          float64
properties.net           object
properties.nst          float64
properties.place         object
properties.rms          float64
properties.sig            int64
properties.sources       object
properties.status        object
properties.time           int64
properties.title         object
properties.tsunami        int64
properties.type          object
properties.types         object
properties.tz             int64
properties.updated        int64
properties.url           object
type                     object
dtype: object

In [52]:
#Identificando numeros nulos 

nulos = df.isnull()
nulos_suma = df.isnull().sum
print(nulos)
print(nulos_suma)

     coordinadas   tipo     id  alerta    cdi  codigo  detalles   dmin   felt  \
0          False  False  False    True   True   False     False  False   True
1          False  False  False    True   True   False     False  False   True
2          False  False  False    True  False   False     False  False  False
3          False  False  False    True   True   False     False  False   True
4          False  False  False    True  False   False     False  False  False
5          False  False  False    True  False   False     False  False  False
6          False  False  False    True   True   False     False  False   True
7          False  False  False    True   True   False     False  False   True
8          False  False  False   False   True   False     False  False   True
9          False  False  False    True  False   False     False  False  False
10         False  False  False    True  False   False     False  False  False
11         False  False  False    True   True   False     False  False   True
12         False  False  False    True   True   False     False  False   True
13         False  False  False   False   True   False     False  False   True
14         False  False  False   False   True   False     False  False   True
15         False  False  False    True   True   False     False  False   True
16         False  False  False    True   True   False     False  False   True
17         False  False  False   False  False   False     False  False  False
18         False  False  False   False   True   False     False  False   True
19         False  False  False   False   True   False     False  False   True
20         False  False  False   False  False   False     False  False  False
21         False  False  False   False   True   False     False  False   True
22         False  False  False    True   True   False     False  False   True
23         False  False  False   False   True   False     False  False   True
24         False  False  False   False   True   False     False  False   True
25         False  False  False   False   True   False     False  False   True
26         False  False  False   False   True   False     False  False   True
27         False  False  False   False   True   False     False  False   True
28         False  False  False    True   True   False     False  False   True
29         False  False  False    True   True   False     False  False   True
..           ...    ...    ...     ...    ...     ...       ...    ...    ...
778        False  False  False    True   True   False     False  False   True
779        False  False  False   False  False   False     False  False  False
780        False  False  False    True   True   False     False  False   True
781        False  False  False   False  False   False     False  False  False
782        False  False  False    True  False   False     False  False  False
783        False  False  False    True   True   False     False  False   True
784        False  False  False    True   True   False     False  False   True
785        False  False  False    True   True   False     False  False   True
786        False  False  False   False  False   False     False   True  False
787        False  False  False   False   True   False     False  False   True
788        False  False  False   False  False   False     False  False  False
789        False  False  False    True   True   False     False  False   True
790        False  False  False   False  False   False     False  False  False
791        False  False  False   False   True   False     False  False   True
792        False  False  False    True   True   False     False  False   True
793        False  False  False    True   True   False     False  False   True
794        False  False  False    True   True   False     False  False   True
795        False  False  False   False  False   False     False  False  False
796        False  False  False    True   True   False     False  False   True
797        False  False  False    True   True   False     False  False   True
798        False  False  False    True   True   False     False  False   True
799        False  False  False    True  False   False     False  False  False
800        False  False  False    True   True   False     False  False   True
801        False  False  False    True   True   False     False  False   True
802        False  False  False    True   True   False     False  False   True
803        False  False  False    True  False   False     False  False  False
804        False  False  False    True  False   False     False  False  False
805        False  False  False    True   True   False     False  False   True
806        False  False  False    True  False   False     False  False  False
807        False  False  False   False  False   False     False   True  False

       gap  ...  estado  tiempo  titulo  tsunami  ptype  types     tz  update  \
0    False  ...   False   False   False    False  False  False  False   False
1    False  ...   False   False   False    False  False  False  False   False
2    False  ...   False   False   False    False  False  False  False   False
3    False  ...   False   False   False    False  False  False  False   False
4    False  ...   False   False   False    False  False  False  False   False
5    False  ...   False   False   False    False  False  False  False   False
6    False  ...   False   False   False    False  False  False  False   False
7    False  ...   False   False   False    False  False  False  False   False
8    False  ...   False   False   False    False  False  False  False   False
9    False  ...   False   False   False    False  False  False  False   False
10   False  ...   False   False   False    False  False  False  False   False
11   False  ...   False   False   False    False  False  False  False   False
12   False  ...   False   False   False    False  False  False  False   False
13   False  ...   False   False   False    False  False  False  False   False
14   False  ...   False   False   False    False  False  False  False   False
15   False  ...   False   False   False    False  False  False  False   False
16   False  ...   False   False   False    False  False  False  False   False
17   False  ...   False   False   False    False  False  False  False   False
18   False  ...   False   False   False    False  False  False  False   False
19   False  ...   False   False   False    False  False  False  False   False
20   False  ...   False   False   False    False  False  False  False   False
21   False  ...   False   False   False    False  False  False  False   False
22   False  ...   False   False   False    False  False  False  False   False
23   False  ...   False   False   False    False  False  False  False   False
24   False  ...   False   False   False    False  False  False  False   False
25   False  ...   False   False   False    False  False  False  False   False
26   False  ...   False   False   False    False  False  False  False   False
27   False  ...   False   False   False    False  False  False  False   False
28   False  ...   False   False   False    False  False  False  False   False
29   False  ...   False   False   False    False  False  False  False   False
..     ...  ...     ...     ...     ...      ...    ...    ...    ...     ...
778  False  ...   False   False   False    False  False  False  False   False
779  False  ...   False   False   False    False  False  False  False   False
780  False  ...   False   False   False    False  False  False  False   False
781  False  ...   False   False   False    False  False  False  False   False
782  False  ...   False   False   False    False  False  False  False   False
783  False  ...   False   False   False    False  False  False  False   False
784  False  ...   False   False   False    False  False  False  False   False
785  False  ...   False   False   False    False  False  False  False   False
786   True  ...   False   False   False    False  False  False  False   False
787  False  ...   False   False   False    False  False  False  False   False
788  False  ...   False   False   False    False  False  False  False   False
789  False  ...   False   False   False    False  False  False  False   False
790  False  ...   False   False   False    False  False  False  False   False
791  False  ...   False   False   False    False  False  False  False   False
792  False  ...   False   False   False    False  False  False  False   False
793  False  ...   False   False   False    False  False  False  False   False
794  False  ...   False   False   False    False  False  False  False   False
795  False  ...   False   False   False    False  False  False  False   False
796  False  ...   False   False   False    False  False  False  False   False
797  False  ...   False   False   False    False  False  False  False   False
798  False  ...   False   False   False    False  False  False  False   False
799  False  ...   False   False   False    False  False  False  False   False
800  False  ...   False   False   False    False  False  False  False   False
801  False  ...   False   False   False    False  False  False  False   False
802  False  ...   False   False   False    False  False  False  False   False
803  False  ...   False   False   False    False  False  False  False   False
804  False  ...   False   False   False    False  False  False  False   False
805  False  ...   False   False   False    False  False  False  False   False
806  False  ...   False   False   False    False  False  False  False   False
807   True  ...   False   False   False    False  False  False  False   False

       url  typell
0    False   False
1    False   False
2    False   False
3    False   False
4    False   False
5    False   False
6    False   False
7    False   False
8    False   False
9    False   False
10   False   False
11   False   False
12   False   False
13   False   False
14   False   False
15   False   False
16   False   False
17   False   False
18   False   False
19   False   False
20   False   False
21   False   False
22   False   False
23   False   False
24   False   False
25   False   False
26   False   False
27   False   False
28   False   False
29   False   False
..     ...     ...
778  False   False
779  False   False
780  False   False
781  False   False
782  False   False
783  False   False
784  False   False
785  False   False
786  False   False
787  False   False
788  False   False
789  False   False
790  False   False
791  False   False
792  False   False
793  False   False
794  False   False
795  False   False
796  False   False
797  False   False
798  False   False
799  False   False
800  False   False
801  False   False
802  False   False
803  False   False
804  False   False
805  False   False
806  False   False
807  False   False

[808 rows x 30 columns]
<bound method DataFrame.sum of      coordinadas   tipo     id  alerta    cdi  codigo  detalles   dmin   felt  \
0          False  False  False    True   True   False     False  False   True
1          False  False  False    True   True   False     False  False   True
2          False  False  False    True  False   False     False  False  False
3          False  False  False    True   True   False     False  False   True
4          False  False  False    True  False   False     False  False  False
5          False  False  False    True  False   False     False  False  False
6          False  False  False    True   True   False     False  False   True
7          False  False  False    True   True   False     False  False   True
8          False  False  False   False   True   False     False  False   True
9          False  False  False    True  False   False     False  False  False
10         False  False  False    True  False   False     False  False  False
11         False  False  False    True   True   False     False  False   True
12         False  False  False    True   True   False     False  False   True
13         False  False  False   False   True   False     False  False   True
14         False  False  False   False   True   False     False  False   True
15         False  False  False    True   True   False     False  False   True
16         False  False  False    True   True   False     False  False   True
17         False  False  False   False  False   False     False  False  False
18         False  False  False   False   True   False     False  False   True
19         False  False  False   False   True   False     False  False   True
20         False  False  False   False  False   False     False  False  False
21         False  False  False   False   True   False     False  False   True
22         False  False  False    True   True   False     False  False   True
23         False  False  False   False   True   False     False  False   True
24         False  False  False   False   True   False     False  False   True
25         False  False  False   False   True   False     False  False   True
26         False  False  False   False   True   False     False  False   True
27         False  False  False   False   True   False     False  False   True
28         False  False  False    True   True   False     False  False   True
29         False  False  False    True   True   False     False  False   True
..           ...    ...    ...     ...    ...     ...       ...    ...    ...
778        False  False  False    True   True   False     False  False   True
779        False  False  False   False  False   False     False  False  False
780        False  False  False    True   True   False     False  False   True
781        False  False  False   False  False   False     False  False  False
782        False  False  False    True  False   False     False  False  False
783        False  False  False    True   True   False     False  False   True
784        False  False  False    True   True   False     False  False   True
785        False  False  False    True   True   False     False  False   True
786        False  False  False   False  False   False     False   True  False
787        False  False  False   False   True   False     False  False   True
788        False  False  False   False  False   False     False  False  False
789        False  False  False    True   True   False     False  False   True
790        False  False  False   False  False   False     False  False  False
791        False  False  False   False   True   False     False  False   True
792        False  False  False    True   True   False     False  False   True
793        False  False  False    True   True   False     False  False   True
794        False  False  False    True   True   False     False  False   True
795        False  False  False   False  False   False     False  False  False
796        False  False  False    True   True   False     False  False   True
797        False  False  False    True   True   False     False  False   True
798        False  False  False    True   True   False     False  False   True
799        False  False  False    True  False   False     False  False  False
800        False  False  False    True   True   False     False  False   True
801        False  False  False    True   True   False     False  False   True
802        False  False  False    True   True   False     False  False   True
803        False  False  False    True  False   False     False  False  False
804        False  False  False    True  False   False     False  False  False
805        False  False  False    True   True   False     False  False   True
806        False  False  False    True  False   False     False  False  False
807        False  False  False   False  False   False     False   True  False

       gap  ...  estado  tiempo  titulo  tsunami  ptype  types     tz  update  \
0    False  ...   False   False   False    False  False  False  False   False
1    False  ...   False   False   False    False  False  False  False   False
2    False  ...   False   False   False    False  False  False  False   False
3    False  ...   False   False   False    False  False  False  False   False
4    False  ...   False   False   False    False  False  False  False   False
5    False  ...   False   False   False    False  False  False  False   False
6    False  ...   False   False   False    False  False  False  False   False
7    False  ...   False   False   False    False  False  False  False   False
8    False  ...   False   False   False    False  False  False  False   False
9    False  ...   False   False   False    False  False  False  False   False
10   False  ...   False   False   False    False  False  False  False   False
11   False  ...   False   False   False    False  False  False  False   False
12   False  ...   False   False   False    False  False  False  False   False
13   False  ...   False   False   False    False  False  False  False   False
14   False  ...   False   False   False    False  False  False  False   False
15   False  ...   False   False   False    False  False  False  False   False
16   False  ...   False   False   False    False  False  False  False   False
17   False  ...   False   False   False    False  False  False  False   False
18   False  ...   False   False   False    False  False  False  False   False
19   False  ...   False   False   False    False  False  False  False   False
20   False  ...   False   False   False    False  False  False  False   False
21   False  ...   False   False   False    False  False  False  False   False
22   False  ...   False   False   False    False  False  False  False   False
23   False  ...   False   False   False    False  False  False  False   False
24   False  ...   False   False   False    False  False  False  False   False
25   False  ...   False   False   False    False  False  False  False   False
26   False  ...   False   False   False    False  False  False  False   False
27   False  ...   False   False   False    False  False  False  False   False
28   False  ...   False   False   False    False  False  False  False   False
29   False  ...   False   False   False    False  False  False  False   False
..     ...  ...     ...     ...     ...      ...    ...    ...    ...     ...
778  False  ...   False   False   False    False  False  False  False   False
779  False  ...   False   False   False    False  False  False  False   False
780  False  ...   False   False   False    False  False  False  False   False
781  False  ...   False   False   False    False  False  False  False   False
782  False  ...   False   False   False    False  False  False  False   False
783  False  ...   False   False   False    False  False  False  False   False
784  False  ...   False   False   False    False  False  False  False   False
785  False  ...   False   False   False    False  False  False  False   False
786   True  ...   False   False   False    False  False  False  False   False
787  False  ...   False   False   False    False  False  False  False   False
788  False  ...   False   False   False    False  False  False  False   False
789  False  ...   False   False   False    False  False  False  False   False
790  False  ...   False   False   False    False  False  False  False   False
791  False  ...   False   False   False    False  False  False  False   False
792  False  ...   False   False   False    False  False  False  False   False
793  False  ...   False   False   False    False  False  False  False   False
794  False  ...   False   False   False    False  False  False  False   False
795  False  ...   False   False   False    False  False  False  False   False
796  False  ...   False   False   False    False  False  False  False   False
797  False  ...   False   False   False    False  False  False  False   False
798  False  ...   False   False   False    False  False  False  False   False
799  False  ...   False   False   False    False  False  False  False   False

In [57]:
#Se declaran nuevas columnas para comenzar a generar una nueva base 
columnas = ["coordenadas", "tipo", "id", "alerta", "cdi", "codigo", "detalles", "dmin", "felt", "gap", "ids", "magnitud", "magType", "nmi", "net", "nst", "localidad", "rms", "sig", "sources", "estado", "tiempo", "titulo", "tsunami", "ptype", "types", "tz", "update", "url", "typell"]

len(columnas)
df.columns = columnas

In [58]:
df.columns

Index(['coordenadas', 'tipo', 'id', 'alerta', 'cdi', 'codigo', 'detalles',
       'dmin', 'felt', 'gap', 'ids', 'magnitud', 'magType', 'nmi', 'net',
       'nst', 'localidad', 'rms', 'sig', 'sources', 'estado', 'tiempo',
       'titulo', 'tsunami', 'ptype', 'types', 'tz', 'update', 'url', 'typell'],
      dtype='object')

In [59]:
#Reemplazando valores Nan en 0

df.fillna(0)
nulos = df.isnull()
nulos_suma = df.isnull().sum()
print(nulos_suma)

coordenadas      0
tipo             0
id               0
alerta         503
cdi            494
codigo           0
detalles         0
dmin            10
felt           494
gap              8
ids              0
magnitud         0
magType          0
nmi            502
net              0
nst            804
localidad        0
rms              0
sig              0
sources          0
estado           0
tiempo           0
titulo           0
tsunami          0
ptype            0
types            0
tz               0
update           0
url              0
typell           0
dtype: int64

In [61]:
df.columns

Index(['coordenadas', 'tipo', 'id', 'alerta', 'cdi', 'codigo', 'detalles',
       'dmin', 'felt', 'gap', 'ids', 'magnitud', 'magType', 'nmi', 'net',
       'nst', 'localidad', 'rms', 'sig', 'sources', 'estado', 'tiempo',
       'titulo', 'tsunami', 'ptype', 'types', 'tz', 'update', 'url', 'typell'],
      dtype='object')

In [67]:
#Obtenemos un nuevo dataframe solo con los datos que nos interesan para el estudio 
#Coordenadas, id, magnitud, localidad, y si generó un tsunami 

df_new = df[['coordenadas', 'id', 'magnitud', 'localidad', 'tsunami']]
df_new

,coordenadas,id,magnitud,localidad,tsunami
0,"[-13.0395, -1.7531, 10]",us700047g7,5.0,North of Ascension Island,0
1,"[-27.2372, -56.2781, 104.96]",us700047fz,5.3,"47km N of Visokoi Island, South Georgia and th...",0
2,"[122.5072, 22.2807, 10]",us700047fu,5.2,"149km ESE of Taitung City, Taiwan",0
3,"[158.1824, -8.8913, 10]",us700047fr,5.1,"132km SW of Dadali, Solomon Islands",0
4,"[125.0903, 9.7129, 48.15]",us700047eq,5.0,"30km SW of Pintuyan, Philippines",0
5,"[126.8166, 8.3171, 52.89]",us7000477y,5.0,"45km ENE of Barcelona, Philippines",0
6,"[108.9633, -8.1929, 78.89]",us7000477c,5.1,"54km S of Karangbadar Kidul, Indonesia",1
7,"[166.0848, -12.5764, 10]",us700046ut,5.1,"207km S of Lata, Solomon Islands",0
8,"[144.4063, 19.8856, 410.03]",us700046la,6.4,"88km SW of Farallon de Pajaros, Northern Maria...",1
9,"[-71.0244, -29.3602, 78.31]",us700046ge,5.0,"64km NNE of La Serena, Chile",0
10,"[-173.8936, -20.734, 10]",us7000469v,5.2,"113km SSE of Pangai, Tonga",0
11,"[138.4154, -2.7169, 10]",us7000469g,5.0,"241km W of Abepura, Indonesia",1
12,"[138.2085, -2.6954, 19.8]",us700045wd,5.1,"246km ENE of Enarotali, Indonesia",1
13,"[-179.2332, -30.3859, 10]",us700045vh,6.3,"120km NNW of L'Esperance Rock, New Zealand",0
14,"[164.308, 56.1951, 10]",us700045r4,5.7,"113km E of Ust'-Kamchatsk Staryy, Russia",0
15,"[105.6611, 84.4877, 10]",us700045mr,5.1,North of Severnaya Zemlya,0
16,"[-177.2946, -31.0124, 10]",us700045f8,5.3,"159km ENE of L'Esperance Rock, New Zealand",0
17,"[-82.7677, 8.449, 26.22]",us7000455l,6.2,"5km SE of Aserrio de Gariche, Panama",0
18,"[157.7469, -9.536, 12.44]",us7000453l,5.7,"187km SSE of Gizo, Solomon Islands",0
19,"[164.1101, 56.1779, 10]",us7000451w,6.3,"101km E of Ust'-Kamchatsk Staryy, Russia",0
20,"[164.1836, 56.208, 10]",us600045mz,6.3,"105km E of Ust'-Kamchatsk Staryy, Russia",1
21,"[99.6309, -48.0161, 10]",us600045lr,5.8,Southeast Indian Ridge,0
22,"[138.5518, -2.6722, 29.9]",us600045j5,5.0,"225km W of Abepura, Indonesia",1
23,"[-25.3922, -57.9887, 26]",us600045dg,5.5,"133km NNE of Bristol Island, South Sandwich Is...",0
24,"[138.4321, -2.7418, 10]",us600045bc,5.5,"239km W of Abepura, Indonesia",1
25,"[138.4056, -2.6507, 19.08]",us700049fa,5.7,"242km W of Abepura, Indonesia",1
26,"[138.4384, -2.6836, 10]",us600045am,5.7,"238km W of Abepura, Indonesia",1
27,"[-177.3775, -30.8424, 10]",us6000456p,5.9,"159km ENE of L'Esperance Rock, New Zealand",0
28,"[138.562, -2.7079, 10]",us6000454y,5.0,"224km W of Abepura, Indonesia",1
29,"[138.4385, -2.6651, 10]",us6000453n,5.3,"238km W of Abepura, Indonesia",1
...,...,...,...,...,...
778,"[126.6584, 2.2334, 19.8]",us2000j7wq,5.2,"160km WNW of Tobelo, Indonesia",0
779,"[126.758, 2.258, 43.21]",us2000j0uj,6.6,"151km WNW of Tobelo, Indonesia",1
780,"[77.6122, 39.8478, 9.01]",us2000j0uf,5.0,"129km E of Arzak, China",0
781,"[45.6794, 34.1248, 14]",us2000j0th,5.6,"40km SSW of Sarpol-e Zahab, Iran",0
782,"[-70.8297, -15.1888, 30.6]",us2000j0ss,5.0,"42km SW of Ayaviri, Peru",0
783,"[153.6892, -3.3944, 387.14]",us2000j0qw,5.2,"139km NNE of Taron, Papua New Guinea",1
784,"[-178.1425, 51.2607, 35]",us2000j0qt,5.1,"67km E of Amatignak Island, Alaska",0
785,"[51.6003, 28.5413, 10]",us2000j0pj,5.0,"88km ESE of Bandar Bushehr, Iran",0
786,"[-153.2799, 65.407, 17.1]",ak0199za3yf,5.1,"61km WNW of Tanana, Alaska",0
787,"[144.5691, 25.8233, 14.28]",us2000j0n0,5.7,"272km ESE of Chichi-shima, Japan",0
788,"[-71.587, -8.144, 570.41]",us2000j0ja,6.8,"90km W of Tarauaca, Brazil",0
789,"[-172.1656, -18.0407, 10]",us2000j0j1,5.1,"203km ENE of Neiafu, Tonga",0
790,"[-178.1181, 51.3349, 30]",us2000j0iw,5.9,"61km S of Tanaga Volcano, Alaska",1
791,"[127.6071, -0.8253, 14.3]",us2000j0hh,5.4,"58km N of Laiwui, Indonesia",1
792,"[127.4736, -1.0211, 10]",us2000j7qg,5.0,"42km NNW of Laiwui, Indonesia",1
793,"[127.6814, -0.84, 10]",us2000j0f5,5.2,"56km N of Laiwui, Indonesia",1
794,"[126.1068, 4.4493, 106.98]",us2000j0f3,5.0,"127km SE of Sarangani, Philippines",1
795,"[130.4073, -6.5176, 127.9]",us2000j076,5.6,"187km NNW of Saumlaki, Indonesia",0
796,"[164.6918, 54.8864, 10]",us2000j04m,5.4,"89km WSW of Nikol'skoye, Russia",0
797,"[127.3019, 2.3908, 54.41]",us2000j048,5.0,"107km NW of Tobelo, Indonesia",0
798,"[153.7228, 48.8819, 122.73]",us2000j03t,5.2,"264km SW of Severo-Kuril'sk, Russia",0
799,"[159.7347, 53.3335, 67.98]",us2000j02g,5.0,"79km ENE of Petropavlovsk-Kamchatskiy, Russia",0
800,"[-26.201, -59.7459, 42.43]",us2000j01b,5.4,"81km SSE of Bristol Island, South Sandwich Isl...",0
801,"[-26.9774, -55.7364, 10]",us2000izy7,5.1,"108km N of Visokoi Island, South Georgia and t...",0
802,"[103.6156, -6.4851, 34.95]",us2000izty,5.1,"135km SSW of Biha, Indonesia",1
803,"[139.0416, -2.0544, 34.52]",us2000izsn,5.0,"183km WNW of Abepura, Indonesia",1
804,"[104.4129, 42.4859, 10]",us2000izrq,5.0,"71km WSW of Sangiyn Dalay, Mongolia",0
805,"[99.6762, -2.4525, 10]",us2000izpf,5.1,"107km SSE of Muara Siberut, Indonesia",1
806,"[122.6874, -9.5818, 62.72]",us2000iznk,5.0,"98km SSE of Habibola, Indonesia",0
807,"[-149.9523, 61.2975, 44.4]",ak0191pccr7,5.0,"9km NNW of Anchorage, Alaska",1

In [82]:
#Ordenamos por magnitud

magnitud = df_new.sort_values(['magnitud'], ascending = False)

In [84]:
#Mostramos los primeros 10

magnitud = magnitud.head(10)

magnitud.to_csv("magnitud.csv")

In [98]:
# Vamos en busqueda de lo que generaron tsunamis 
# Los ordenamos tb por magnitud


tsunami = df_new.loc[df_new['tsunami'] == 1]
tsunami = tsunami.sort_values(['magnitud'], ascending = False)
tsunami
tsunami.to_csv('tsunami.csv')

In [102]:
#Vamos en busqueda de todos los sismos de 2019 en México 

mexico = df_new[df_new['localidad'].str.contains("Mexico")]
mexico = mexico.sort_values(['magnitud'], ascending = False)
mexico.to_csv("mexico.csv")
mexico
len(mexico)

15

In [103]:
#Vamos en busqueda de todos los sismos de 2019 en Argentina

argentina = df_new[df_new['localidad'].str.contains("Argentina")]
argentina = argentina.sort_values(['magnitud'], ascending = False)
argentina.to_csv("argentina.csv")
argentina
len(argentina)

12

In [104]:
argentina

,coordenadas,id,magnitud,localidad,tsunami
188,"[-70.0028, -31.4782, 108]",us70003nha,5.5,"58km WSW of Calingasta, Argentina",0
62,"[-68.7982, -33.6488, 149.27]",us600043h2,5.5,"70km SSW of San Martin, Argentina",0
545,"[-63.2866, -28.2499, 577.65]",us1000j91e,5.5,"37km SSE of Suncho Corral, Argentina",0
174,"[-66.6429, -27.8854, 148.84]",us60003rvz,5.2,"46km SW of Andalgala, Argentina",0
210,"[-69.3931, -31.456, 105.45]",us70003lxa,5.1,"13km S of Calingasta, Argentina",0
308,"[-67.0884, -24.2469, 157.81]",us70003acf,5.1,"78km W of San Antonio de los Cobres, Argentina",0
516,"[-68.8567, -38.5233, 13.84]",us1000jbq5,5.0,"19km SSW of Anelo, Argentina",0
577,"[-64.6916, -23.4656, 10]",us2000jj5u,5.0,"29km NW of Yuto, Argentina",0
329,"[-63.1341, -28.2253, 589.62]",us7000377f,5.0,"39km NW of Anatuya, Argentina",0
186,"[-66.689, -23.1389, 195.81]",us70003nut,5.0,"102km W of El Aguilar, Argentina",0
274,"[-67.3963, -28.1444, 129.82]",us70003e2q,5.0,"18km ESE of Tinogasta, Argentina",0
312,"[-67.0144, -24.3453, 162.21]",us700039zu,5.0,"72km WSW of San Antonio de los Cobres, Argentina",0

In [105]:
#Comparación de paises 

if len(argentina) > len(mexico):
    print("Argentina es mas sísmica que México")
else:
    print("Mexico es más sísmico que Argentina")

Mexico es más sísmico que Argentina