In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from lxml import html
from lxml.html import fromstring
import random
import re
import csv

# Proyecto Web Scrapping & API´s

## Rankig ATP

### Lo que haremos será obtener el ranking de los 50 mejores tenistas masculinos.

In [22]:
url = 'https://www.marca.com/tenis/clasificacion-atp.html'

In [23]:
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')

In [24]:
sopa = soup.select('span.ue-table-ranking__name')

In [25]:
Nombres = [element.text for element in sopa]
Nombres

['Novak Djokovic',
 'Daniil Medvedev',
 'Alexander Zverev',
 'Stefanos Tsitsipas',
 'Rafael Nadal',
 'Andrey Rublev',
 'Matteo Berrettini',
 'Casper Ruud',
 'Felix Auger Aliassime',
 'Jannik Sinner',
 'Hubert Hurkacz',
 'Cameron Norrie',
 'Diego Sebastian Schwartzman',
 'Denis Shapovalov',
 'Aslan Karatsev',
 'Dominic Thiem',
 'Roger Federer',
 'Roberto Bautista Agut',
 'Cristian Garin',
 'Gael Monfils',
 'Pablo Carreño-Busta',
 'Taylor Harry Fritz',
 'Nikoloz Basilashvili',
 'Daniel Evans',
 'John Isner',
 'Lorenzo Sonego',
 'Marin Cilic',
 'Grigor Dimitrov',
 'Reilly Opelka',
 'Karen Khachanov',
 'Carlos Alcaraz',
 'Fabio Fognini',
 'Lloyd George Muirhead Harris',
 'Frances Tiafoe',
 'Marton Fucsovics',
 'Filip Krajinovic',
 'Alexander Bublik',
 'Federico Delbonis',
 'Dusan Lajovic',
 'Ugo Humbert',
 'Tommy Paul',
 'Álex de Miñaur',
 'Sebastian Korda',
 'Albert Ramos Viñolas',
 'David Goffin',
 'Kei Nishikori',
 'Ilya Ivashka',
 'Arthur Rinderknech',
 'James Duckworth',
 'Alejandro Davidovich Fokina',
 'Laslo Djere',
 'Jan-Lennard Struff',
 'Dominik Koepfer',
 'Soon Woo Kwon',
 'Mackenzie McDonald',
 'Benoit Paire',
 'Botic Van de Zandschulp',
 'Jenson Brooksby',
 'Alexei Popyrin',
 'Lorenzo Musetti',
 'Pedro Martínez Portero',
 'Tallon Griekspoor',
 'Benjamin Bonzi',
 'Federico Coria',
 'Gianluca Mager',
 'Marcos Giron',
 'Hugo Gaston',
 'Brandon Nakashima',
 'Adrian Mannarino',
 'Maxime Cressy',
 'Jaume Munar',
 'Facundo Bagnis',
 'Jordan Thompson',
 'Alex Molcan',
 'Roberto Carballes Baena',
 'Guido Pella',
 'Miomir Kecmanovic',
 'Jiri Vesely',
 'Thiago Monteiro',
 'Juan Manuel Cerundolo',
 'Richard Gasquet',
 'Peter Gojowczyk',
 'Pablo Andújar',
 'Borna Coric',
 'Milos Raonic',
 'Mikael Ymer',
 'Daniel Altmaier',
 'Sebastian Baez',
 'John Millman',
 'Emil Ruusuvuori',
 'Henri Laaksonen',
 'Pablo Cuevas',
 'Ricardas Berankis',
 'Tennys Sandgren',
 'Marco Cecchinato',
 'Oscar Otte',
 'Kevin Anderson',
 'Stefano Travaglia',
 'Holger Rune',
 'Corentin Moutet']

In [27]:
sopa_puntos = soup.select('td.ue-table-ranking__td.is-marked')
sopa_puntos

[<td class="ue-table-ranking__td is-marked">11015</td>,
 <td class="ue-table-ranking__td is-marked">8935</td>,
 <td class="ue-table-ranking__td is-marked">7970</td>,
 <td class="ue-table-ranking__td is-marked">6540</td>,
 <td class="ue-table-ranking__td is-marked">4875</td>,
 <td class="ue-table-ranking__td is-marked">4785</td>,
 <td class="ue-table-ranking__td is-marked">4568</td>,
 <td class="ue-table-ranking__td is-marked">4155</td>,
 <td class="ue-table-ranking__td is-marked">3608</td>,
 <td class="ue-table-ranking__td is-marked">3390</td>,
 <td class="ue-table-ranking__td is-marked">3336</td>,
 <td class="ue-table-ranking__td is-marked">2900</td>,
 <td class="ue-table-ranking__td is-marked">2730</td>,
 <td class="ue-table-ranking__td is-marked">2593</td>,
 <td class="ue-table-ranking__td is-marked">2553</td>,
 <td class="ue-table-ranking__td is-marked">2410</td>,
 <td class="ue-table-ranking__td is-marked">2385</td>,
 <td class="ue-table-ranking__td is-marked">2385</td>,
 <td class="ue-table-ranking__td is-marked">2375</td>,
 <td class="ue-table-ranking__td is-marked">2373</td>,
 <td class="ue-table-ranking__td is-marked">2305</td>,
 <td class="ue-table-ranking__td is-marked">2175</td>,
 <td class="ue-table-ranking__td is-marked">2051</td>,
 <td class="ue-table-ranking__td is-marked">1957</td>,
 <td class="ue-table-ranking__td is-marked">1881</td>,
 <td class="ue-table-ranking__td is-marked">1860</td>,
 <td class="ue-table-ranking__td is-marked">1840</td>,
 <td class="ue-table-ranking__td is-marked">1821</td>,
 <td class="ue-table-ranking__td is-marked">1776</td>,
 <td class="ue-table-ranking__td is-marked">1748</td>,
 <td class="ue-table-ranking__td is-marked">1609</td>,
 <td class="ue-table-ranking__td is-marked">1494</td>,
 <td class="ue-table-ranking__td is-marked">1473</td>,
 <td class="ue-table-ranking__td is-marked">1467</td>,
 <td class="ue-table-ranking__td is-marked">1457</td>,
 <td class="ue-table-ranking__td is-marked">1427</td>,
 <td class="ue-table-ranking__td is-marked">1411</td>,
 <td class="ue-table-ranking__td is-marked">1347</td>,
 <td class="ue-table-ranking__td is-marked">1346</td>,
 <td class="ue-table-ranking__td is-marked">1318</td>,
 <td class="ue-table-ranking__td is-marked">1317</td>,
 <td class="ue-table-ranking__td is-marked">1316</td>,
 <td class="ue-table-ranking__td is-marked">1286</td>,
 <td class="ue-table-ranking__td is-marked">1259</td>,
 <td class="ue-table-ranking__td is-marked">1216</td>,
 <td class="ue-table-ranking__td is-marked">1210</td>,
 <td class="ue-table-ranking__td is-marked">1194</td>,
 <td class="ue-table-ranking__td is-marked">1178</td>,
 <td class="ue-table-ranking__td is-marked">1166</td>,
 <td class="ue-table-ranking__td is-marked">1160</td>,
 <td class="ue-table-ranking__td is-marked">1156</td>,
 <td class="ue-table-ranking__td is-marked">1149</td>,
 <td class="ue-table-ranking__td is-marked">1096</td>,
 <td class="ue-table-ranking__td is-marked">1085</td>,
 <td class="ue-table-ranking__td is-marked">1084</td>,
 <td class="ue-table-ranking__td is-marked">1075</td>,
 <td class="ue-table-ranking__td is-marked">1069</td>,
 <td class="ue-table-ranking__td is-marked">1063</td>,
 <td class="ue-table-ranking__td is-marked">1010</td>,
 <td class="ue-table-ranking__td is-marked">1004</td>,
 <td class="ue-table-ranking__td is-marked">1001</td>,
 <td class="ue-table-ranking__td is-marked">1001</td>,
 <td class="ue-table-ranking__td is-marked">979</td>,
 <td class="ue-table-ranking__td is-marked">976</td>,
 <td class="ue-table-ranking__td is-marked">957</td>,
 <td class="ue-table-ranking__td is-marked">920</td>,
 <td class="ue-table-ranking__td is-marked">919</td>,
 <td class="ue-table-ranking__td is-marked">917</td>,
 <td class="ue-table-ranking__td is-marked">879</td>,
 <td class="ue-table-ranking__td is-marked">875</td>,
 <td class="ue-table-ranking__td is-marked">875</td>,
 <td class="ue-table-ranking__td is-marked">868</td>,
 <td class="ue-table-ranking__td is-marked">860</td>,
 <td class="ue-table-ranking__td is-marked">839</td>,
 <td class="ue-table-ranking__td is-marked">837</td>,
 <td class="ue-table-ranking__td is-marked">836</td>,
 <td class="ue-table-ranking__td is-marked">836</td>,
 <td class="ue-table-ranking__td is-marked">824</td>,
 <td class="ue-table-ranking__td is-marked">824</td>,
 <td class="ue-table-ranking__td is-marked">818</td>,
 <td class="ue-table-ranking__td is-marked">807</td>,
 <td class="ue-table-ranking__td is-marked">802</td>,
 <td class="ue-table-ranking__td is-marked">800</td>,
 <td class="ue-table-ranking__td is-marked">799</td>,
 <td class="ue-table-ranking__td is-marked">794</td>,
 <td class="ue-table-ranking__td is-marked">793</td>,
 <td class="ue-table-ranking__td is-marked">792</td>,
 <td class="ue-table-ranking__td is-marked">791</td>,
 <td class="ue-table-ranking__td is-marked">788</td>,
 <td class="ue-table-ranking__td is-marked">783</td>,
 <td class="ue-table-ranking__td is-marked">781</td>,
 <td class="ue-table-ranking__td is-marked">770</td>,
 <td class="ue-table-ranking__td is-marked">761</td>,
 <td class="ue-table-ranking__td is-marked">759</td>,
 <td class="ue-table-ranking__td is-marked">759</td>,
 <td class="ue-table-ranking__td is-marked">748</td>,
 <td class="ue-table-ranking__td is-marked">744</td>,
 <td class="ue-table-ranking__td is-marked">744</td>,
 <td class="ue-table-ranking__td is-marked">742</td>,
 <td class="ue-table-ranking__td is-marked">737</td>]

In [7]:
Puntos = [element.text for element in paso2]
Puntos

['11015',
 '8935',
 '7970',
 '6540',
 '4875',
 '4785',
 '4568',
 '4155',
 '3608',
 '3390',
 '3336',
 '2900',
 '2730',
 '2593',
 '2553',
 '2410',
 '2385',
 '2385',
 '2375',
 '2373',
 '2305',
 '2175',
 '2051',
 '1957',
 '1881',
 '1860',
 '1840',
 '1821',
 '1776',
 '1748',
 '1609',
 '1494',
 '1473',
 '1467',
 '1457',
 '1427',
 '1411',
 '1347',
 '1346',
 '1318',
 '1317',
 '1316',
 '1286',
 '1259',
 '1216',
 '1210',
 '1194',
 '1178',
 '1166',
 '1160',
 '1156',
 '1149',
 '1096',
 '1085',
 '1084',
 '1075',
 '1069',
 '1063',
 '1010',
 '1004',
 '1001',
 '1001',
 '979',
 '976',
 '957',
 '920',
 '919',
 '917',
 '879',
 '875',
 '875',
 '868',
 '860',
 '839',
 '837',
 '836',
 '836',
 '824',
 '824',
 '818',
 '807',
 '802',
 '800',
 '799',
 '794',
 '793',
 '792',
 '791',
 '788',
 '783',
 '781',
 '770',
 '761',
 '759',
 '759',
 '748',
 '744',
 '744',
 '742',
 '737']

In [8]:
Ranking = pd.DataFrame(zip(Nombres, Puntos), columns=['Names', 'Points'])
Ranking

                 Names Points
0       Novak Djokovic  11015
1      Daniil Medvedev   8935
2     Alexander Zverev   7970
3   Stefanos Tsitsipas   6540
4         Rafael Nadal   4875
..                 ...    ...
95          Oscar Otte    748
96      Kevin Anderson    744
97   Stefano Travaglia    744
98         Holger Rune    742
99     Corentin Moutet    737

[100 rows x 2 columns]

In [9]:
Ranking.head(51)

                           Names Points
0                 Novak Djokovic  11015
1                Daniil Medvedev   8935
2               Alexander Zverev   7970
3             Stefanos Tsitsipas   6540
4                   Rafael Nadal   4875
5                  Andrey Rublev   4785
6              Matteo Berrettini   4568
7                    Casper Ruud   4155
8          Felix Auger Aliassime   3608
9                  Jannik Sinner   3390
10                Hubert Hurkacz   3336
11                Cameron Norrie   2900
12   Diego Sebastian Schwartzman   2730
13              Denis Shapovalov   2593
14                Aslan Karatsev   2553
15                 Dominic Thiem   2410
16                 Roger Federer   2385
17         Roberto Bautista Agut   2385
18                Cristian Garin   2375
19                  Gael Monfils   2373
20           Pablo Carreño-Busta   2305
21            Taylor Harry Fritz   2175
22          Nikoloz Basilashvili   2051
23                  Daniel Evans   1957
24                    John Isner   1881
25                Lorenzo Sonego   1860
26                   Marin Cilic   1840
27               Grigor Dimitrov   1821
28                 Reilly Opelka   1776
29               Karen Khachanov   1748
30                Carlos Alcaraz   1609
31                 Fabio Fognini   1494
32  Lloyd George Muirhead Harris   1473
33                Frances Tiafoe   1467
34              Marton Fucsovics   1457
35              Filip Krajinovic   1427
36              Alexander Bublik   1411
37             Federico Delbonis   1347
38                 Dusan Lajovic   1346
39                   Ugo Humbert   1318
40                    Tommy Paul   1317
41                Álex de Miñaur   1316
42               Sebastian Korda   1286
43          Albert Ramos Viñolas   1259
44                  David Goffin   1216
45                 Kei Nishikori   1210
46                  Ilya Ivashka   1194
47            Arthur Rinderknech   1178
48               James Duckworth   1166
49   Alejandro Davidovich Fokina   1160
50                   Laslo Djere   1156

In [55]:
Ranking.head(51).to_csv('Ranking.csv')

## Rankig WTA

### Lo que haremos será obtener el ranking de las 50 mejores tenistas femininas.

In [28]:
url = 'https://www.marca.com/tenis/clasificacion-wta.html'

In [29]:
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')

In [30]:
sopa = soup.select('span.ue-table-ranking__name')
sopa

[<span class="ue-table-ranking__name">Ashleigh Barty</span>,
 <span class="ue-table-ranking__name">Aryna Sabalenka</span>,
 <span class="ue-table-ranking__name">Barbora Krejcikova</span>,
 <span class="ue-table-ranking__name">Karolina Pliskova</span>,
 <span class="ue-table-ranking__name">Paula Badosa Gibert</span>,
 <span class="ue-table-ranking__name">Garbiñe Muguruza Blanco</span>,
 <span class="ue-table-ranking__name">Maria Sakkari</span>,
 <span class="ue-table-ranking__name">Anett Kontaveit</span>,
 <span class="ue-table-ranking__name">Iga Swiatek</span>,
 <span class="ue-table-ranking__name">Ons Jabeur</span>,
 <span class="ue-table-ranking__name">Elena Rybakina</span>,
 <span class="ue-table-ranking__name">Emma Raducanu</span>,
 <span class="ue-table-ranking__name">Anastasia Pavlyuchenkova</span>,
 <span class="ue-table-ranking__name">Elina Svitolina</span>,
 <span class="ue-table-ranking__name">Cori Gauff</span>,
 <span class="ue-table-ranking__name">Belinda Bencic</span>,
 <span class="ue-table-ranking__name">Daria Kasatkina</span>,
 <span class="ue-table-ranking__name">Angelique Kerber</span>,
 <span class="ue-table-ranking__name">Leylah Annie Fernandez</span>,
 <span class="ue-table-ranking__name">Victoria Azarenka</span>,
 <span class="ue-table-ranking__name">Jessica Pegula</span>,
 <span class="ue-table-ranking__name">Petra Kvitova</span>,
 <span class="ue-table-ranking__name">Jelena Ostapenko</span>,
 <span class="ue-table-ranking__name">Tamara Zidansek</span>,
 <span class="ue-table-ranking__name">Simona Halep</span>,
 <span class="ue-table-ranking__name">Elise Mertens</span>,
 <span class="ue-table-ranking__name">Danielle Collins</span>,
 <span class="ue-table-ranking__name">Jil Belen Teichmann</span>,
 <span class="ue-table-ranking__name">Veronika Kudermetova</span>,
 <span class="ue-table-ranking__name">Camila Giorgi</span>,
 <span class="ue-table-ranking__name">Sara Sorribes Tormo</span>,
 <span class="ue-table-ranking__name">Ludmila Samsonova</span>,
 <span class="ue-table-ranking__name">Viktorija Golubic</span>,
 <span class="ue-table-ranking__name">Clara Tauson</span>,
 <span class="ue-table-ranking__name">Sorana Cirstea</span>,
 <span class="ue-table-ranking__name">Shelby Rogers</span>,
 <span class="ue-table-ranking__name">Ajla Tomljanovic</span>,
 <span class="ue-table-ranking__name">Bianca Andreescu</span>,
 <span class="ue-table-ranking__name">Yulia Putintseva</span>,
 <span class="ue-table-ranking__name">Tereza Martincova</span>,
 <span class="ue-table-ranking__name">Ekaterina Alexandrova</span>,
 <span class="ue-table-ranking__name">Katerina Siniakova</span>,
 <span class="ue-table-ranking__name">Marketa Vondrousova</span>,
 <span class="ue-table-ranking__name">Anhelina Kalinina</span>,
 <span class="ue-table-ranking__name">Jasmine Paolini</span>,
 <span class="ue-table-ranking__name">Maria Camila Osorio Serrano</span>,
 <span class="ue-table-ranking__name">Alison Van Uytvanck</span>,
 <span class="ue-table-ranking__name">Magda Linette</span>,
 <span class="ue-table-ranking__name">Amanda Anisimova</span>,
 <span class="ue-table-ranking__name">Alison Riske</span>,
 <span class="ue-table-ranking__name">Nuria Parrizas Diaz</span>,
 <span class="ue-table-ranking__name">Marta Kostyuk</span>,
 <span class="ue-table-ranking__name">Ana Konjuh</span>,
 <span class="ue-table-ranking__name">Petra Martic</span>,
 <span class="ue-table-ranking__name">Madison Keys</span>,
 <span class="ue-table-ranking__name">Irina-Camelia Begu</span>,
 <span class="ue-table-ranking__name">Sloane Stephens</span>,
 <span class="ue-table-ranking__name">Madison Brengle</span>,
 <span class="ue-table-ranking__name">Ann Li</span>,
 <span class="ue-table-ranking__name">Elena-Gabriela Ruse</span>,
 <span class="ue-table-ranking__name">Alize Cornet</span>,
 <span class="ue-table-ranking__name">Arantxa Rus</span>,
 <span class="ue-table-ranking__name">Anastasija Sevastova</span>,
 <span class="ue-table-ranking__name">Karolina Muchova</span>,
 <span class="ue-table-ranking__name">Jaqueline Cristian</span>,
 <span class="ue-table-ranking__name">Andrea Petkovic</span>,
 <span class="ue-table-ranking__name">Mayar Sherif</span>,
 <span class="ue-table-ranking__name">Maryna Zanevska</span>,
 <span class="ue-table-ranking__name">Caroline Garcia</span>,
 <span class="ue-table-ranking__name">Misaki Doi</span>,
 <span class="ue-table-ranking__name">Aliaksandra Sasnovich</span>,
 <span class="ue-table-ranking__name">Anastasia Potapova</span>,
 <span class="ue-table-ranking__name">Clara Burel</span>,
 <span class="ue-table-ranking__name">Marie Bouzkova</span>,
 <span class="ue-table-ranking__name">Beatriz Haddad Maia</span>,
 <span class="ue-table-ranking__name">Rebecca Peterson</span>,
 <span class="ue-table-ranking__name">Varvara Gracheva</span>,
 <span class="ue-table-ranking__name">Vera Zvonareva</span>,
 <span class="ue-table-ranking__name">Oceane Dodin</span>,
 <span class="ue-table-ranking__name">Anna Bondar</span>,
 <span class="ue-table-ranking__name">Shuai Zhang</span>,
 <span class="ue-table-ranking__name">Claire Liu</span>,
 <span class="ue-table-ranking__name">Danka Kovinic</span>,
 <span class="ue-table-ranking__name">Saisai Zheng</span>,
 <span class="ue-table-ranking__name">Astra Sharma</span>,
 <span class="ue-table-ranking__name">Panna Udvardy</span>,
 <span class="ue-table-ranking__name">Kristina Kucova</span>,
 <span class="ue-table-ranking__name">Lauren Davis</span>,
 <span class="ue-table-ranking__name">Qinwen Zheng</span>,
 <span class="ue-table-ranking__name">Sofia Kenin</span>,
 <span class="ue-table-ranking__name">Anna Karolina Schmiedlova</span>,
 <span class="ue-table-ranking__name">Greet Minnen</span>,
 <span class="ue-table-ranking__name">Naomi Osaka</span>,
 <span class="ue-table-ranking__name">Xinyu Wang</span>,
 <span class="ue-table-ranking__name">Heather Watson</span>,
 <span class="ue-table-ranking__name">Kristina Mladenovic</span>,
 <span class="ue-table-ranking__name">Magdalena Frech</span>,
 <span class="ue-table-ranking__name">Bernarda Pera</span>,
 <span class="ue-table-ranking__name">Martina Trevisan</span>,
 <span class="ue-table-ranking__name">Kaja Juvan</span>]

In [31]:
Nombres = [element.text for element in sopa]
Nombres

['Ashleigh Barty',
 'Aryna Sabalenka',
 'Barbora Krejcikova',
 'Karolina Pliskova',
 'Paula Badosa Gibert',
 'Garbiñe Muguruza Blanco',
 'Maria Sakkari',
 'Anett Kontaveit',
 'Iga Swiatek',
 'Ons Jabeur',
 'Elena Rybakina',
 'Emma Raducanu',
 'Anastasia Pavlyuchenkova',
 'Elina Svitolina',
 'Cori Gauff',
 'Belinda Bencic',
 'Daria Kasatkina',
 'Angelique Kerber',
 'Leylah Annie Fernandez',
 'Victoria Azarenka',
 'Jessica Pegula',
 'Petra Kvitova',
 'Jelena Ostapenko',
 'Tamara Zidansek',
 'Simona Halep',
 'Elise Mertens',
 'Danielle Collins',
 'Jil Belen Teichmann',
 'Veronika Kudermetova',
 'Camila Giorgi',
 'Sara Sorribes Tormo',
 'Ludmila Samsonova',
 'Viktorija Golubic',
 'Clara Tauson',
 'Sorana Cirstea',
 'Shelby Rogers',
 'Ajla Tomljanovic',
 'Bianca Andreescu',
 'Yulia Putintseva',
 'Tereza Martincova',
 'Ekaterina Alexandrova',
 'Katerina Siniakova',
 'Marketa Vondrousova',
 'Anhelina Kalinina',
 'Jasmine Paolini',
 'Maria Camila Osorio Serrano',
 'Alison Van Uytvanck',
 'Magda Linette',
 'Amanda Anisimova',
 'Alison Riske',
 'Nuria Parrizas Diaz',
 'Marta Kostyuk',
 'Ana Konjuh',
 'Petra Martic',
 'Madison Keys',
 'Irina-Camelia Begu',
 'Sloane Stephens',
 'Madison Brengle',
 'Ann Li',
 'Elena-Gabriela Ruse',
 'Alize Cornet',
 'Arantxa Rus',
 'Anastasija Sevastova',
 'Karolina Muchova',
 'Jaqueline Cristian',
 'Andrea Petkovic',
 'Mayar Sherif',
 'Maryna Zanevska',
 'Caroline Garcia',
 'Misaki Doi',
 'Aliaksandra Sasnovich',
 'Anastasia Potapova',
 'Clara Burel',
 'Marie Bouzkova',
 'Beatriz Haddad Maia',
 'Rebecca Peterson',
 'Varvara Gracheva',
 'Vera Zvonareva',
 'Oceane Dodin',
 'Anna Bondar',
 'Shuai Zhang',
 'Claire Liu',
 'Danka Kovinic',
 'Saisai Zheng',
 'Astra Sharma',
 'Panna Udvardy',
 'Kristina Kucova',
 'Lauren Davis',
 'Qinwen Zheng',
 'Sofia Kenin',
 'Anna Karolina Schmiedlova',
 'Greet Minnen',
 'Naomi Osaka',
 'Xinyu Wang',
 'Heather Watson',
 'Kristina Mladenovic',
 'Magdalena Frech',
 'Bernarda Pera',
 'Martina Trevisan',
 'Kaja Juvan']

In [33]:
sopa2 = soup.select('td.ue-table-ranking__td.is-marked')
sopa2

[<td class="ue-table-ranking__td is-marked">6341</td>,
 <td class="ue-table-ranking__td is-marked">5468</td>,
 <td class="ue-table-ranking__td is-marked">5173</td>,
 <td class="ue-table-ranking__td is-marked">4452</td>,
 <td class="ue-table-ranking__td is-marked">4199</td>,
 <td class="ue-table-ranking__td is-marked">4136</td>,
 <td class="ue-table-ranking__td is-marked">3901</td>,
 <td class="ue-table-ranking__td is-marked">3811</td>,
 <td class="ue-table-ranking__td is-marked">3686</td>,
 <td class="ue-table-ranking__td is-marked">3125</td>,
 <td class="ue-table-ranking__td is-marked">2645</td>,
 <td class="ue-table-ranking__td is-marked">2604</td>,
 <td class="ue-table-ranking__td is-marked">2548</td>,
 <td class="ue-table-ranking__td is-marked">2471</td>,
 <td class="ue-table-ranking__td is-marked">2425</td>,
 <td class="ue-table-ranking__td is-marked">2355</td>,
 <td class="ue-table-ranking__td is-marked">2330</td>,
 <td class="ue-table-ranking__td is-marked">2287</td>,
 <td class="ue-table-ranking__td is-marked">2249</td>,
 <td class="ue-table-ranking__td is-marked">2226</td>,
 <td class="ue-table-ranking__td is-marked">2114</td>,
 <td class="ue-table-ranking__td is-marked">2110</td>,
 <td class="ue-table-ranking__td is-marked">2035</td>,
 <td class="ue-table-ranking__td is-marked">1890</td>,
 <td class="ue-table-ranking__td is-marked">1887</td>,
 <td class="ue-table-ranking__td is-marked">1861</td>,
 <td class="ue-table-ranking__td is-marked">1851</td>,
 <td class="ue-table-ranking__td is-marked">1645</td>,
 <td class="ue-table-ranking__td is-marked">1635</td>,
 <td class="ue-table-ranking__td is-marked">1632</td>,
 <td class="ue-table-ranking__td is-marked">1588</td>,
 <td class="ue-table-ranking__td is-marked">1477</td>,
 <td class="ue-table-ranking__td is-marked">1442</td>,
 <td class="ue-table-ranking__td is-marked">1419</td>,
 <td class="ue-table-ranking__td is-marked">1382</td>,
 <td class="ue-table-ranking__td is-marked">1353</td>,
 <td class="ue-table-ranking__td is-marked">1335</td>,
 <td class="ue-table-ranking__td is-marked">1308</td>,
 <td class="ue-table-ranking__td is-marked">1280</td>,
 <td class="ue-table-ranking__td is-marked">1248</td>,
 <td class="ue-table-ranking__td is-marked">1236</td>,
 <td class="ue-table-ranking__td is-marked">1220</td>,
 <td class="ue-table-ranking__td is-marked">1217</td>,
 <td class="ue-table-ranking__td is-marked">1168</td>,
 <td class="ue-table-ranking__td is-marked">1153</td>,
 <td class="ue-table-ranking__td is-marked">1147</td>,
 <td class="ue-table-ranking__td is-marked">1143</td>,
 <td class="ue-table-ranking__td is-marked">1142</td>,
 <td class="ue-table-ranking__td is-marked">1120</td>,
 <td class="ue-table-ranking__td is-marked">1101</td>,
 <td class="ue-table-ranking__td is-marked">1083</td>,
 <td class="ue-table-ranking__td is-marked">1075</td>,
 <td class="ue-table-ranking__td is-marked">1043</td>,
 <td class="ue-table-ranking__td is-marked">1037</td>,
 <td class="ue-table-ranking__td is-marked">1033</td>,
 <td class="ue-table-ranking__td is-marked">1033</td>,
 <td class="ue-table-ranking__td is-marked">1023</td>,
 <td class="ue-table-ranking__td is-marked">1002</td>,
 <td class="ue-table-ranking__td is-marked">999</td>,
 <td class="ue-table-ranking__td is-marked">991</td>,
 <td class="ue-table-ranking__td is-marked">990</td>,
 <td class="ue-table-ranking__td is-marked">958</td>,
 <td class="ue-table-ranking__td is-marked">956</td>,
 <td class="ue-table-ranking__td is-marked">954</td>,
 <td class="ue-table-ranking__td is-marked">953</td>,
 <td class="ue-table-ranking__td is-marked">949</td>,
 <td class="ue-table-ranking__td is-marked">949</td>,
 <td class="ue-table-ranking__td is-marked">932</td>,
 <td class="ue-table-ranking__td is-marked">930</td>,
 <td class="ue-table-ranking__td is-marked">926</td>,
 <td class="ue-table-ranking__td is-marked">923</td>,
 <td class="ue-table-ranking__td is-marked">895</td>,
 <td class="ue-table-ranking__td is-marked">884</td>,
 <td class="ue-table-ranking__td is-marked">863</td>,
 <td class="ue-table-ranking__td is-marked">853</td>,
 <td class="ue-table-ranking__td is-marked">851</td>,
 <td class="ue-table-ranking__td is-marked">847</td>,
 <td class="ue-table-ranking__td is-marked">846</td>,
 <td class="ue-table-ranking__td is-marked">846</td>,
 <td class="ue-table-ranking__td is-marked">840</td>,
 <td class="ue-table-ranking__td is-marked">826</td>,
 <td class="ue-table-ranking__td is-marked">818</td>,
 <td class="ue-table-ranking__td is-marked">814</td>,
 <td class="ue-table-ranking__td is-marked">808</td>,
 <td class="ue-table-ranking__td is-marked">806</td>,
 <td class="ue-table-ranking__td is-marked">801</td>,
 <td class="ue-table-ranking__td is-marked">799</td>,
 <td class="ue-table-ranking__td is-marked">792</td>,
 <td class="ue-table-ranking__td is-marked">778</td>,
 <td class="ue-table-ranking__td is-marked">772</td>,
 <td class="ue-table-ranking__td is-marked">772</td>,
 <td class="ue-table-ranking__td is-marked">767</td>,
 <td class="ue-table-ranking__td is-marked">766</td>,
 <td class="ue-table-ranking__td is-marked">766</td>,
 <td class="ue-table-ranking__td is-marked">759</td>,
 <td class="ue-table-ranking__td is-marked">740</td>,
 <td class="ue-table-ranking__td is-marked">734</td>,
 <td class="ue-table-ranking__td is-marked">728</td>,
 <td class="ue-table-ranking__td is-marked">713</td>,
 <td class="ue-table-ranking__td is-marked">698</td>]

In [38]:
Points = [element.text for element in sopa2]
Points

['6341',
 '5468',
 '5173',
 '4452',
 '4199',
 '4136',
 '3901',
 '3811',
 '3686',
 '3125',
 '2645',
 '2604',
 '2548',
 '2471',
 '2425',
 '2355',
 '2330',
 '2287',
 '2249',
 '2226',
 '2114',
 '2110',
 '2035',
 '1890',
 '1887',
 '1861',
 '1851',
 '1645',
 '1635',
 '1632',
 '1588',
 '1477',
 '1442',
 '1419',
 '1382',
 '1353',
 '1335',
 '1308',
 '1280',
 '1248',
 '1236',
 '1220',
 '1217',
 '1168',
 '1153',
 '1147',
 '1143',
 '1142',
 '1120',
 '1101',
 '1083',
 '1075',
 '1043',
 '1037',
 '1033',
 '1033',
 '1023',
 '1002',
 '999',
 '991',
 '990',
 '958',
 '956',
 '954',
 '953',
 '949',
 '949',
 '932',
 '930',
 '926',
 '923',
 '895',
 '884',
 '863',
 '853',
 '851',
 '847',
 '846',
 '846',
 '840',
 '826',
 '818',
 '814',
 '808',
 '806',
 '801',
 '799',
 '792',
 '778',
 '772',
 '772',
 '767',
 '766',
 '766',
 '759',
 '740',
 '734',
 '728',
 '713',
 '698']

In [39]:
Ranking_WTA = pd.DataFrame(zip(Nombres, Points), columns=['Names', 'Points'])
Ranking_WTA

                  Names Points
0        Ashleigh Barty   6341
1       Aryna Sabalenka   5468
2    Barbora Krejcikova   5173
3     Karolina Pliskova   4452
4   Paula Badosa Gibert   4199
..                  ...    ...
95  Kristina Mladenovic    740
96      Magdalena Frech    734
97        Bernarda Pera    728
98     Martina Trevisan    713
99           Kaja Juvan    698

[100 rows x 2 columns]

In [41]:
Rankin_WTA.head(51)

                          Names Points
0                Ashleigh Barty   6341
1               Aryna Sabalenka   5468
2            Barbora Krejcikova   5173
3             Karolina Pliskova   4452
4           Paula Badosa Gibert   4199
5       Garbiñe Muguruza Blanco   4136
6                 Maria Sakkari   3901
7               Anett Kontaveit   3811
8                   Iga Swiatek   3686
9                    Ons Jabeur   3125
10               Elena Rybakina   2645
11                Emma Raducanu   2604
12     Anastasia Pavlyuchenkova   2548
13              Elina Svitolina   2471
14                   Cori Gauff   2425
15               Belinda Bencic   2355
16              Daria Kasatkina   2330
17             Angelique Kerber   2287
18       Leylah Annie Fernandez   2249
19            Victoria Azarenka   2226
20               Jessica Pegula   2114
21                Petra Kvitova   2110
22             Jelena Ostapenko   2035
23              Tamara Zidansek   1890
24                 Simona Halep   1887
25                Elise Mertens   1861
26             Danielle Collins   1851
27          Jil Belen Teichmann   1645
28         Veronika Kudermetova   1635
29                Camila Giorgi   1632
30          Sara Sorribes Tormo   1588
31            Ludmila Samsonova   1477
32            Viktorija Golubic   1442
33                 Clara Tauson   1419
34               Sorana Cirstea   1382
35                Shelby Rogers   1353
36             Ajla Tomljanovic   1335
37             Bianca Andreescu   1308
38             Yulia Putintseva   1280
39            Tereza Martincova   1248
40        Ekaterina Alexandrova   1236
41           Katerina Siniakova   1220
42          Marketa Vondrousova   1217
43            Anhelina Kalinina   1168
44              Jasmine Paolini   1153
45  Maria Camila Osorio Serrano   1147
46          Alison Van Uytvanck   1143
47                Magda Linette   1142
48             Amanda Anisimova   1120
49                 Alison Riske   1101
50          Nuria Parrizas Diaz   1083

In [ ]:
Ranking_WTA.head(51).to_csv('Ranking.csv')

# Proyecto API's

In [53]:
response = requests.get('https://officeapi.dev/api/characters')

In [54]:
response.json()

{'data': [{'_id': '5e93b4a43af44260882e33b0',
   'firstname': 'Michael',
   'lastname': 'Scott',
   '__v': 0},
  {'_id': '5e93b4f03af44260882e33b1',
   'firstname': 'Jim',
   'lastname': 'Halpert',
   '__v': 0},
  {'_id': '5e93b4fa3af44260882e33b2',
   'firstname': 'Dwight',
   'lastname': 'Schrute',
   '__v': 0},
  {'_id': '5e93b50a3af44260882e33b3',
   'firstname': 'Pam',
   'lastname': 'Beesly',
   '__v': 0},
  {'_id': '5e93b5183af44260882e33b4',
   'firstname': 'Ryan',
   'lastname': 'Howard',
   '__v': 0},
  {'_id': '5e93b51e3af44260882e33b5',
   'firstname': 'Kelly',
   'lastname': 'Kapoor',
   '__v': 0},
  {'_id': '5e93b52b3af44260882e33b6',
   'firstname': 'Angela',
   'lastname': 'Martin',
   '__v': 0},
  {'_id': '5e93b5323af44260882e33b7',
   'firstname': 'Kevin',
   'lastname': 'Malone',
   '__v': 0},
  {'_id': '5e93b53b3af44260882e33b8',
   'firstname': 'Oscar',
   'lastname': 'Martinez',
   '__v': 0},
  {'_id': '5e93b5453af44260882e33b9',
   'firstname': 'Andy',
   'lastname': 'Bernard',
   '__v': 0},
  {'_id': '5e93b54d3af44260882e33ba',
   'firstname': 'Stanley',
   'lastname': 'Hudson',
   '__v': 0},
  {'_id': '5e93b5583af44260882e33bb',
   'firstname': 'Phyllis',
   'lastname': 'Lapin',
   '__v': 0},
  {'_id': '5e93b55f3af44260882e33bc',
   'firstname': 'Toby',
   'lastname': 'Flenderson',
   '__v': 0},
  {'_id': '5e93b5653af44260882e33bd',
   'firstname': 'Erin',
   'lastname': 'Hannon',
   '__v': 0},
  {'_id': '5e93b56d3af44260882e33be',
   'firstname': 'Gabe',
   'lastname': 'Lewis',
   '__v': 0},
  {'_id': '5e93b5783af44260882e33bf',
   'firstname': 'Darryl',
   'lastname': 'Philbin',
   '__v': 0},
  {'_id': '5e93b5813af44260882e33c0',
   'firstname': 'Creed',
   'lastname': 'Bratton',
   '__v': 0},
  {'_id': '5e93b58b3af44260882e33c1',
   'firstname': 'Jo',
   'lastname': 'Bennett',
   '__v': 0},
  {'_id': '5e93b5913af44260882e33c2',
   'firstname': 'Holly',
   'lastname': 'Flax',
   '__v': 0},
  {'_id': '5e93b5983af44260882e33c3',
   'firstname': 'Jan',
   'lastname': 'Levinson',
   '__v': 0},
  {'_id': '5e93b5a13af44260882e33c4',
   'firstname': 'Todd',
   'lastname': 'Packer',
   '__v': 0},
  {'_id': '5e93b5a73af44260882e33c5',
   'firstname': 'Charles',
   'lastname': 'Minor',
   '__v': 0},
  {'_id': '5e93b5ad3af44260882e33c6',
   'firstname': 'Deangelo',
   'lastname': 'Vickers',
   '__v': 0},
  {'_id': '5e93b5b63af44260882e33c7',
   'firstname': 'Josh',
   'lastname': 'Porter',
   '__v': 0},
  {'_id': '5e93b5bb3af44260882e33c8',
   'firstname': 'Ed',
   'lastname': 'Truck',
   '__v': 0},
  {'_id': '5e93b5c53af44260882e33c9',
   'firstname': 'Hunter',
   'lastname': 'null',
   '__v': 0},
  {'_id': '5e93b5d13af44260882e33ca',
   'firstname': 'David',
   'lastname': 'Wallace',
   '__v': 0}]}

In [55]:
the_office = pd.DataFrame(response.json())
the_office.head()

                                                data
0  {'_id': '5e93b4a43af44260882e33b0', 'firstname...
1  {'_id': '5e93b4f03af44260882e33b1', 'firstname...
2  {'_id': '5e93b4fa3af44260882e33b2', 'firstname...
3  {'_id': '5e93b50a3af44260882e33b3', 'firstname...
4  {'_id': '5e93b5183af44260882e33b4', 'firstname...

In [28]:
the_office1 = pd.json_normalize(the_office['data'])
the_office1.head()

                        _id firstname lastname  __v
0  5e93b4a43af44260882e33b0   Michael    Scott    0
1  5e93b4f03af44260882e33b1       Jim  Halpert    0
2  5e93b4fa3af44260882e33b2    Dwight  Schrute    0
3  5e93b50a3af44260882e33b3       Pam   Beesly    0
4  5e93b5183af44260882e33b4      Ryan   Howard    0

In [51]:
Characters = the_office1[['firstname', 'lastname']]
Characters

   firstname    lastname
0    Michael       Scott
1        Jim     Halpert
2     Dwight     Schrute
3        Pam      Beesly
4       Ryan      Howard
5      Kelly      Kapoor
6     Angela      Martin
7      Kevin      Malone
8      Oscar    Martinez
9       Andy     Bernard
10   Stanley      Hudson
11   Phyllis       Lapin
12      Toby  Flenderson
13      Erin      Hannon
14      Gabe       Lewis
15    Darryl     Philbin
16     Creed     Bratton
17        Jo     Bennett
18     Holly        Flax
19       Jan    Levinson
20      Todd      Packer
21   Charles       Minor
22  Deangelo     Vickers
23      Josh      Porter
24        Ed       Truck
25    Hunter        null
26     David     Wallace

In [58]:
Characters.to_csv('Characters.csv')

In [42]:
Nombres = list(the_office1['firstname'])
Nombres

['Michael',
 'Jim',
 'Dwight',
 'Pam',
 'Ryan',
 'Kelly',
 'Angela',
 'Kevin',
 'Oscar',
 'Andy',
 'Stanley',
 'Phyllis',
 'Toby',
 'Erin',
 'Gabe',
 'Darryl',
 'Creed',
 'Jo',
 'Holly',
 'Jan',
 'Todd',
 'Charles',
 'Deangelo',
 'Josh',
 'Ed',
 'Hunter',
 'David']

In [43]:
Apellidos = list(the_office1['lastname'])
Apellidos

['Scott',
 'Halpert',
 'Schrute',
 'Beesly',
 'Howard',
 'Kapoor',
 'Martin',
 'Malone',
 'Martinez',
 'Bernard',
 'Hudson',
 'Lapin',
 'Flenderson',
 'Hannon',
 'Lewis',
 'Philbin',
 'Bratton',
 'Bennett',
 'Flax',
 'Levinson',
 'Packer',
 'Minor',
 'Vickers',
 'Porter',
 'Truck',
 'null',
 'Wallace']

In [47]:
Nombres_completos = list(zip(Nombres, Apellidos))
Nombres_completos

[('Michael', 'Scott'),
 ('Jim', 'Halpert'),
 ('Dwight', 'Schrute'),
 ('Pam', 'Beesly'),
 ('Ryan', 'Howard'),
 ('Kelly', 'Kapoor'),
 ('Angela', 'Martin'),
 ('Kevin', 'Malone'),
 ('Oscar', 'Martinez'),
 ('Andy', 'Bernard'),
 ('Stanley', 'Hudson'),
 ('Phyllis', 'Lapin'),
 ('Toby', 'Flenderson'),
 ('Erin', 'Hannon'),
 ('Gabe', 'Lewis'),
 ('Darryl', 'Philbin'),
 ('Creed', 'Bratton'),
 ('Jo', 'Bennett'),
 ('Holly', 'Flax'),
 ('Jan', 'Levinson'),
 ('Todd', 'Packer'),
 ('Charles', 'Minor'),
 ('Deangelo', 'Vickers'),
 ('Josh', 'Porter'),
 ('Ed', 'Truck'),
 ('Hunter', 'null'),
 ('David', 'Wallace')]

In [60]:
np.savetxt("Nombres_completos.csv", Nombres_completos, fmt='% s')

In [58]:
episodios = requests.get('https://officeapi.dev/api/episodes')

In [59]:
episodios.json()

{'data': [{'_id': '5e94d646f733a1332868e1dc',
   'title': 'Pilot',
   'description': 'A documentary crew gives a firsthand introduction to the staff of the Scranton branch of the Dunder Mifflin Paper Company, managed by Michael Scott.',
   'writer': {'_id': '5e95242f9511994a07f9a319',
    'name': 'Greg Daniels',
    'role': 'Writer/Director',
    '__v': 0},
   'director': {'_id': '5e9523649511994a07f9a313',
    'name': 'Ken Kwapis',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-03-24T06:00:00.000Z',
   '__v': 0},
  {'_id': '5e94d6a0f733a1332868e1dd',
   'title': 'Diversity Day',
   'description': "After the corporate office discovers that Michael has been making insensitive remarks to his co-workers, they send a sensitivity trainer to the Scranton branch, but when Michael doesn't agree with everything the trainer says, he sets up his own sensitivity workshop.",
   'writer': {'_id': '5e9523bc9511994a07f9a314',
    'name': 'B.J. Novak',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e9523649511994a07f9a313',
    'name': 'Ken Kwapis',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-03-29T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8f70a88792d4b2bee2ead',
   'title': 'Health Care',
   'description': 'Dwight ends up in charge of picking a new health care plan.',
   'writer': {'_id': '5e9523d69511994a07f9a315',
    'name': 'Paul Lieberstein',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e9523ef9511994a07f9a316',
    'name': 'Ken Whittingham',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-04-05T05:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8f75188792d4b2bee2eae',
   'title': 'The Alliance',
   'description': 'With Dwight worried about downsizing, Jim agrees to an alliance; Michael tries to increase moral be throwing a birthday party for Meredith.',
   'writer': {'_id': '5e9524139511994a07f9a317',
    'name': 'Michael Schur',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e95241e9511994a07f9a318',
    'name': 'Bryan Gordon',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-04-12T05:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8f76d88792d4b2bee2eaf',
   'title': 'Basketball',
   'description': 'Michael challenges the warehouse staff to a basketball game versus the office staff.',
   'writer': {'_id': '5e95242f9511994a07f9a319',
    'name': 'Greg Daniels',
    'role': 'Writer/Director',
    '__v': 0},
   'director': {'_id': '5e95242f9511994a07f9a319',
    'name': 'Greg Daniels',
    'role': 'Writer/Director',
    '__v': 0},
   'airDate': '2005-04-19T05:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8f8a1e9f68d4b6f809c48',
   'title': 'Hot Girl',
   'description': 'Several male staff members vie for the attention of an attractive purse sales woman.',
   'writer': {'_id': '5e95245e9511994a07f9a31a',
    'name': 'Mindy Kaling',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e95246d9511994a07f9a31b',
    'name': 'Amy Heckerling',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-04-26T05:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fb2cddecdf4bb7e9181f',
   'title': 'The Dundies',
   'description': 'Michael hosts the annual Dundies awards.',
   'writer': {'_id': '5e95245e9511994a07f9a31a',
    'name': 'Mindy Kaling',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e95242f9511994a07f9a319',
    'name': 'Greg Daniels',
    'role': 'Writer/Director',
    '__v': 0},
   'airDate': '2005-09-20T05:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fbf9ddecdf4bb7e91820',
   'title': 'Sexual Harassment',
   'description': "Michael's continual sending of explicit e-mail forwards forces Dunder Mifflin to review it's sexual harassment policy; Pam's mom makes a visit to the office.",
   'writer': {'_id': '5e9523bc9511994a07f9a314',
    'name': 'B.J. Novak',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e9523649511994a07f9a313',
    'name': 'Ken Kwapis',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-09-27T05:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fc28ddecdf4bb7e91821',
   'title': 'Office Olympics',
   'description': 'With Michael and Dwight out of the house, Jim organizes an office Olympics.',
   'writer': {'_id': '5e9524139511994a07f9a317',
    'name': 'Michael Schur',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e9524809511994a07f9a31c',
    'name': 'Paul Feig',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-10-04T05:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fc87ddecdf4bb7e91822',
   'title': 'The Fire',
   'description': 'A fire starts in the office kitchen.',
   'writer': {'_id': '5e9523bc9511994a07f9a314',
    'name': 'B.J. Novak',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e9523649511994a07f9a313',
    'name': 'Ken Kwapis',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-10-11T05:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fcf4ddecdf4bb7e91823',
   'title': 'Halloween',
   'description': 'Michael is pressured by corporate to fire someone, which puts a damper on the office Halloween party.',
   'writer': {'_id': '5e95242f9511994a07f9a319',
    'name': 'Greg Daniels',
    'role': 'Writer/Director',
    '__v': 0},
   'director': {'_id': '5e9524809511994a07f9a31c',
    'name': 'Paul Feig',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-10-18T05:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fd39ddecdf4bb7e91824',
   'title': 'The Fight',
   'description': "Jim rallies the staff together to witness a showdown between Michael and Dwight at Dwight's martial arts school.",
   'writer': {'_id': '5e9524949511994a07f9a31d',
    'name': 'Gene Stupnitsky',
    'role': 'Writer',
    '__v': 0},
   'director': {'_id': '5e9523649511994a07f9a313',
    'name': 'Ken Kwapis',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-11-01T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fd85ddecdf4bb7e91825',
   'title': 'The Client',
   'description': "Jan helps Michael with an important pitch for a client; The staff discovers a screenplay in Michael's office.",
   'writer': {'_id': '5e9523d69511994a07f9a315',
    'name': 'Paul Lieberstein',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e95242f9511994a07f9a319',
    'name': 'Greg Daniels',
    'role': 'Writer/Director',
    '__v': 0},
   'airDate': '2005-11-08T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fdc6ddecdf4bb7e91826',
   'title': 'Performance Review',
   'description': 'Instead of talking to his employees about their work, Michael uses their annual review time to gather feedback on his "relationship" with Jan.',
   'writer': {'_id': '5e9524d09511994a07f9a31f',
    'name': 'Larry Wilmore',
    'role': 'Writer',
    '__v': 0},
   'director': {'_id': '5e9524809511994a07f9a31c',
    'name': 'Paul Feig',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-11-15T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fe0addecdf4bb7e91827',
   'title': 'E-Mail Surveillance',
   'description': 'Michael decides to set up e-mail surveillance for all company e-mail, and discovers that Jim has invited everyone over for a barbeque except him.',
   'writer': {'_id': '5e9524df9511994a07f9a320',
    'name': 'Jennifer Celotta',
    'role': 'Writer',
    '__v': 0},
   'director': {'_id': '5e9524809511994a07f9a31c',
    'name': 'Paul Feig',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-11-22T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fe4bddecdf4bb7e91828',
   'title': 'Christmas Party',
   'description': 'At the office Christmas party, Michael changes secret santa into a gift exchange.',
   'writer': {'_id': '5e9524139511994a07f9a317',
    'name': 'Michael Schur',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e9524f49511994a07f9a321',
    'name': 'Charles McDougall',
    'role': 'Director',
    '__v': 0},
   'airDate': '2005-12-06T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fe89ddecdf4bb7e91829',
   'title': 'Booze Cruise',
   'description': 'The Dunder Mifflin staff go on a mandatory "booze cruise" to hear Michael give a motivational talk.',
   'writer': {'_id': '5e95242f9511994a07f9a319',
    'name': 'Greg Daniels',
    'role': 'Writer/Director',
    '__v': 0},
   'director': {'_id': '5e9523649511994a07f9a313',
    'name': 'Ken Kwapis',
    'role': 'Director',
    '__v': 0},
   'airDate': '2006-01-05T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8fef0ddecdf4bb7e9182a',
   'title': 'The Injury',
   'description': 'Michael\'s "injury" from a George Foreman Grill distracts the staff from Dwight, the one with the real injury.',
   'writer': {'_id': '5e95245e9511994a07f9a31a',
    'name': 'Mindy Kaling',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e95241e9511994a07f9a318',
    'name': 'Bryan Gordon',
    'role': 'Director',
    '__v': 0},
   'airDate': '2006-01-12T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8ff34ddecdf4bb7e9182b',
   'title': 'The Secret',
   'description': 'Jim is forced into spending time with Michael so that he will not reveal Jim\'s feelings for Pam. Meanwhile, Oscar takes a "sick day" and Dwight investigates whether he is actually sick.',
   'writer': {'_id': '5e9524949511994a07f9a31d',
    'name': 'Gene Stupnitsky',
    'role': 'Writer',
    '__v': 0},
   'director': {'_id': '5e9525109511994a07f9a322',
    'name': 'Dennie Gordon',
    'role': 'Director',
    '__v': 0},
   'airDate': '2006-01-19T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8ff73ddecdf4bb7e9182c',
   'title': 'The Carpet',
   'description': "Michael's office becomes the victim of an odorous prank which subjects the office to his punishment.",
   'writer': {'_id': '5e9523d69511994a07f9a315',
    'name': 'Paul Lieberstein',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e9525459511994a07f9a323',
    'name': 'Victor Nelli, Jr',
    'role': 'Director',
    '__v': 0},
   'airDate': '2006-01-26T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8ffa6ddecdf4bb7e9182d',
   'title': 'Boys and Girls',
   'description': "When Jan comes to the office for a women in the office session, Michael stages a men's only session.",
   'writer': {'_id': '5e9523bc9511994a07f9a314',
    'name': 'B.J. Novak',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e9525109511994a07f9a322',
    'name': 'Dennie Gordon',
    'role': 'Director',
    '__v': 0},
   'airDate': '2006-02-02T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea8ffd7ddecdf4bb7e9182e',
   'title': "Valentine's Day",
   'description': "Michael has a big meeting in New York with Jan and the companies new CEO; Pam deals with all the Valentine's Day deliveries hoping Roy will remember to send her something.",
   'writer': {'_id': '5e9524139511994a07f9a317',
    'name': 'Michael Schur',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e95242f9511994a07f9a319',
    'name': 'Greg Daniels',
    'role': 'Writer/Director',
    '__v': 0},
   'airDate': '2006-02-09T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea9000eddecdf4bb7e9182f',
   'title': "Dwight's Speech",
   'description': 'Michael coaches pompous Dwight on the finer art of public speaking after being named as Salesman of the Year.',
   'writer': {'_id': '5e9523d69511994a07f9a315',
    'name': 'Paul Lieberstein',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e9524f49511994a07f9a321',
    'name': 'Charles McDougall',
    'role': 'Director',
    '__v': 0},
   'airDate': '2006-03-02T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea9005fddecdf4bb7e91830',
   'title': 'Take Your Daughter to Work Day',
   'description': 'Staff members bring their children to work. Michael is surprised when he strikes up a friendship with the five-year old daughter of his sworn enemy, Toby.',
   'writer': {'_id': '5e95245e9511994a07f9a31a',
    'name': 'Mindy Kaling',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e9525459511994a07f9a323',
    'name': 'Victor Nelli, Jr',
    'role': 'Director',
    '__v': 0},
   'airDate': '2006-03-16T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea90087ddecdf4bb7e91831',
   'title': "Michael's Birthday",
   'description': "Michael's birthday coincides with Kevin awaiting the news to see if he has skin cancer.",
   'writer': {'_id': '5e9524949511994a07f9a31d',
    'name': 'Gene Stupnitsky',
    'role': 'Writer',
    '__v': 0},
   'director': {'_id': '5e9523ef9511994a07f9a316',
    'name': 'Ken Whittingham',
    'role': 'Director',
    '__v': 0},
   'airDate': '2006-03-30T06:00:00.000Z',
   '__v': 0},
  {'_id': '5ea900b4ddecdf4bb7e91832',
   'title': 'Drug Testing',
   'description': 'After Dwight finds a joint in the office park, he goes overboard with an investigation.',
   'writer': {'_id': '5e9524df9511994a07f9a320',
    'name': 'Jennifer Celotta',
    'role': 'Writer',
    '__v': 0},
   'director': {'_id': '5e95242f9511994a07f9a319',
    'name': 'Greg Daniels',
    'role': 'Writer/Director',
    '__v': 0},
   'airDate': '2006-04-27T05:00:00.000Z',
   '__v': 0},
  {'_id': '5ea900edddecdf4bb7e91833',
   'title': 'Conflict Resolution',
   'description': 'When Michael takes over conflict resolution duties from HR, chaos ensues at Dunder Mifflin.',
   'writer': {'_id': '5e95242f9511994a07f9a319',
    'name': 'Greg Daniels',
    'role': 'Writer/Director',
    '__v': 0},
   'director': {'_id': '5e9524f49511994a07f9a321',
    'name': 'Charles McDougall',
    'role': 'Director',
    '__v': 0},
   'airDate': '2006-05-04T05:00:00.000Z',
   '__v': 0},
  {'_id': '5ea90119ddecdf4bb7e91834',
   'title': 'Casino Night',
   'description': 'The Dunder Mifflin crew holds a casino party at the warehouse and Michael has two dates.',
   'writer': {'_id': '5e95258e9511994a07f9a324',
    'name': 'Steve Carell',
    'role': 'Writer/Actor',
    '__v': 0},
   'director': {'_id': '5e9523649511994a07f9a313',
    'name': 'Ken Kwapis',
    'role': 'Director',
    '__v': 0},
   'airDate': '2006-05-11T05:00:00.000Z',
   '__v': 0}]}

In [60]:
data_episodios = pd.DataFrame(episodios.json())
data_episodios.head()

                                                data
0  {'_id': '5e94d646f733a1332868e1dc', 'title': '...
1  {'_id': '5e94d6a0f733a1332868e1dd', 'title': '...
2  {'_id': '5ea8f70a88792d4b2bee2ead', 'title': '...
3  {'_id': '5ea8f75188792d4b2bee2eae', 'title': '...
4  {'_id': '5ea8f76d88792d4b2bee2eaf', 'title': '...

In [61]:
data_episodios1 = pd.json_normalize(data_episodios['data'])
data_episodios1.head()

,_id,title,description,airDate,__v,writer._id,writer.name,writer.role,writer.__v,director._id,director.name,director.role,director.__v
0,5e94d646f733a1332868e1dc,Pilot,A documentary crew gives a firsthand introduct...,2005-03-24T06:00:00.000Z,0,5e95242f9511994a07f9a319,Greg Daniels,Writer/Director,0,5e9523649511994a07f9a313,Ken Kwapis,Director,0
1,5e94d6a0f733a1332868e1dd,Diversity Day,After the corporate office discovers that Mich...,2005-03-29T06:00:00.000Z,0,5e9523bc9511994a07f9a314,B.J. Novak,Writer/Actor,0,5e9523649511994a07f9a313,Ken Kwapis,Director,0
2,5ea8f70a88792d4b2bee2ead,Health Care,Dwight ends up in charge of picking a new heal...,2005-04-05T05:00:00.000Z,0,5e9523d69511994a07f9a315,Paul Lieberstein,Writer/Actor,0,5e9523ef9511994a07f9a316,Ken Whittingham,Director,0
3,5ea8f75188792d4b2bee2eae,The Alliance,"With Dwight worried about downsizing, Jim agre...",2005-04-12T05:00:00.000Z,0,5e9524139511994a07f9a317,Michael Schur,Writer/Actor,0,5e95241e9511994a07f9a318,Bryan Gordon,Director,0
4,5ea8f76d88792d4b2bee2eaf,Basketball,Michael challenges the warehouse staff to a ba...,2005-04-19T05:00:00.000Z,0,5e95242f9511994a07f9a319,Greg Daniels,Writer/Director,0,5e95242f9511994a07f9a319,Greg Daniels,Writer/Director,0

In [68]:
titulos = data_episodios1['title']
titulos

0                              Pilot
1                      Diversity Day
2                        Health Care
3                       The Alliance
4                         Basketball
5                           Hot Girl
6                        The Dundies
7                  Sexual Harassment
8                    Office Olympics
9                           The Fire
10                         Halloween
11                         The Fight
12                        The Client
13                Performance Review
14               E-Mail Surveillance
15                   Christmas Party
16                      Booze Cruise
17                        The Injury
18                        The Secret
19                        The Carpet
20                    Boys and Girls
21                   Valentine's Day
22                   Dwight's Speech
23    Take Your Daughter to Work Day
24                Michael's Birthday
25                      Drug Testing
26               Conflict Resolution
27                      Casino Night
Name: title, dtype: object

In [71]:
titulos_alfabeticamente = sorted(titulos)
titulos_alfabeticamente

['Basketball',
 'Booze Cruise',
 'Boys and Girls',
 'Casino Night',
 'Christmas Party',
 'Conflict Resolution',
 'Diversity Day',
 'Drug Testing',
 "Dwight's Speech",
 'E-Mail Surveillance',
 'Halloween',
 'Health Care',
 'Hot Girl',
 "Michael's Birthday",
 'Office Olympics',
 'Performance Review',
 'Pilot',
 'Sexual Harassment',
 'Take Your Daughter to Work Day',
 'The Alliance',
 'The Carpet',
 'The Client',
 'The Dundies',
 'The Fight',
 'The Fire',
 'The Injury',
 'The Secret',
 "Valentine's Day"]

In [72]:
np.savetxt("Titulos.csv", titulos_alfabeticamente, fmt='% s')