In [1]:
import requests
import pandas as pd

In [2]:
response = requests.get ('https://www.balldontlie.io/api/v1/players?page=0').json()
jugadores = pd.DataFrame(response['data'])

In [3]:
for page in range(1,61):
    response = requests.get('https://www.balldontlie.io/api/v1/players?page=%i' % page).json()
    solucion = pd.DataFrame(response['data'])
    jugadores = pd.concat([jugadores,solucion], axis = 0)

In [4]:
jugadores

,first_name,height_feet,height_inches,id,last_name,position,team,weight_pounds
0,DeVaughn,NaN,NaN,5,Akoon-Purcell,G-F,"{'id': 8, 'abbreviation': 'DEN', 'city': 'Denv...",NaN
1,Ike,NaN,NaN,14,Anigbogu,C,"{'id': 12, 'abbreviation': 'IND', 'city': 'Ind...",NaN
2,Carmelo,NaN,NaN,17,Anthony,F,"{'id': 11, 'abbreviation': 'HOU', 'city': 'Hou...",NaN
3,Ron,NaN,NaN,25,Baker,G,"{'id': 20, 'abbreviation': 'NYK', 'city': 'New...",NaN
4,Jabari,NaN,NaN,47,Bird,G,"{'id': 2, 'abbreviation': 'BOS', 'city': 'Bost...",NaN
5,MarShon,NaN,NaN,67,Brooks,G,"{'id': 15, 'abbreviation': 'MEM', 'city': 'Mem...",NaN
6,Lorenzo,NaN,NaN,71,Brown,G,"{'id': 28, 'abbreviation': 'TOR', 'city': 'Tor...",NaN
7,Omri,NaN,NaN,90,Casspi,F,"{'id': 15, 'abbreviation': 'MEM', 'city': 'Mem...",NaN
8,Alex,6,6,1,Abrines,G,"{'id': 21, 'abbreviation': 'OKC', 'city': 'Okl...",200
9,Tyler,NaN,NaN,119,Davis,C,"{'id': 21, 'abbreviation': 'OKC', 'city': 'Okl...",NaN
10,Keenan,NaN,NaN,149,Evans,G,"{'id': 9, 'abbreviation': 'DET', 'city': 'Detr...",NaN
11,Marcin,NaN,NaN,179,Gortat,C,"{'id': 13, 'abbreviation': 'LAC', 'city': 'LA'...",NaN
12,Andrew,NaN,NaN,1593,Bogut,F,"{'id': 10, 'abbreviation': 'GSW', 'city': 'Gol...",NaN
13,Tim,6,6,191,Hardaway Jr.,G,"{'id': 7, 'abbreviation': 'DAL', 'city': 'Dall...",205
14,Daniel,NaN,NaN,190,Hamilton,G-F,"{'id': 1, 'abbreviation': 'ATL', 'city': 'Atla...",NaN
15,Andrew,NaN,NaN,198,Harrison,G,"{'id': 6, 'abbreviation': 'CLE', 'city': 'Clev...",NaN
16,Demetrius,NaN,NaN,232,Jackson,G,"{'id': 23, 'abbreviation': 'PHI', 'city': 'Phi...",NaN
17,Amir,6,9,241,Johnson,C-F,"{'id': 23, 'abbreviation': 'PHI', 'city': 'Phi...",240
18,BJ,NaN,NaN,50815,Johnson,F,"{'id': 26, 'abbreviation': 'SAC', 'city': 'Sac...",NaN
19,James,6,8,242,Johnson,F,"{'id': 16, 'abbreviation': 'MIA', 'city': 'Mia...",240
20,Stanley,6,7,243,Johnson,F,"{'id': 19, 'abbreviation': 'NOP', 'city': 'New...",245
21,Cory,6,3,251,Joseph,G,"{'id': 12, 'abbreviation': 'IND', 'city': 'Ind...",193
22,Frank,7,0,252,Kaminsky,F-C,"{'id': 4, 'abbreviation': 'CHA', 'city': 'Char...",242
23,Enes,NaN,NaN,253,Kanter,C,"{'id': 25, 'abbreviation': 'POR', 'city': 'Por...",NaN
24,Luke,6,5,254,Kennard,G,"{'id': 9, 'abbreviation': 'DET', 'city': 'Detr...",206
0,DeVaughn,NaN,NaN,5,Akoon-Purcell,G-F,"{'id': 8, 'abbreviation': 'DEN', 'city': 'Denv...",NaN
1,Ike,NaN,NaN,14,Anigbogu,C,"{'id': 12, 'abbreviation': 'IND', 'city': 'Ind...",NaN
2,Carmelo,NaN,NaN,17,Anthony,F,"{'id': 11, 'abbreviation': 'HOU', 'city': 'Hou...",NaN
3,Ron,NaN,NaN,25,Baker,G,"{'id': 20, 'abbreviation': 'NYK', 'city': 'New...",NaN
4,Jabari,NaN,NaN,47,Bird,G,"{'id': 2, 'abbreviation': 'BOS', 'city': 'Bost...",NaN
...,...,...,...,...,...,...,...,...
20,Jerel,None,None,1919,McNeal,,"{'id': 19, 'abbreviation': 'NOP', 'city': 'New...",None
21,Patrick,None,None,1920,Ewing,,"{'id': 19, 'abbreviation': 'NOP', 'city': 'New...",None
22,Dexter,None,None,1921,Pittman,,"{'id': 16, 'abbreviation': 'MIA', 'city': 'Mia...",None
23,Marqus,None,None,1922,Blakely,,"{'id': 11, 'abbreviation': 'HOU', 'city': 'Hou...",None
24,Justin,None,None,1923,Harper,,"{'id': 22, 'abbreviation': 'ORL', 'city': 'Orl...",None
0,JaJuan,None,None,1924,Johnson,,"{'id': 2, 'abbreviation': 'BOS', 'city': 'Bost...",None
1,Greg,None,None,1925,Stiemsma,,"{'id': 2, 'abbreviation': 'BOS', 'city': 'Bost...",None
2,Josh,None,None,1926,Harrellson,,"{'id': 20, 'abbreviation': 'NYK', 'city': 'New...",None
3,Jerome,None,None,1927,Jordan,,"{'id': 20, 'abbreviation': 'NYK', 'city': 'New...",None
4,Travis,None,None,1928,Leslie,,"{'id': 13, 'abbreviation': 'LAC', 'city': 'LA'...",None
5,Trey,None,None,1929,Thompkins,,"{'id': 13, 'abbreviation': 'LAC', 'city': 'LA'...",None
6,Charles,None,None,1930,Jenkins,,"{'id': 10, 'abbreviation': 'GSW', 'city': 'Gol...",None
7,Jeremy,None,None,1931,Tyler,,"{'id': 10, 'abbreviation': 'GSW', 'city': 'Gol...",None
8,Andrew,None,None,1932,Goudelock,,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",None
9,Norris,None,None,1933,Cole,,"{'id': 16, 'abbreviation': 'MIA', 'city': 'Mia...",None
10,Terrel,None,None,1934,Harris,,"{'id': 16, 'abbreviation': 'MIA', 'city': 'Mia...",None
11,Mickell,None,None,1935,Gladness,,"{'id': 16, 'abbreviation': 'MIA', 'city': 'Mia...",None
12,Jeremy,None,None,1936,Pargo,,"{'id': 15, 'abbreviation': 'MEM', 'city': 'Mem...",None
13,Josh,None,None,1937,Selby,,"{'id': 15, 'abbreviation': 'MEM', 'city': 'Mem...",None
14,Tyler,None,None,1939,Honeycutt,,"{'id': 26, 'abbreviation': 'SAC', 'city': 'Sac...",None
15,Vernon,None,None,1940,Macklin,,"{'id': 9, 'abbreviation': 'DET', 'city': 'Detr...",None
16,Derrick,None,None,1941,Williams,,"{'id': 18, 'abbreviation': 'MIN', 'city': 'Min...",None
17,Malcolm,None,None,1942,Lee,,"{'id': 18, 'abbreviation': 'MIN', 'city': 'Min...",None
18,Nolan,None,None,1943,Smith,,"{'id': 25, 'abbreviation': 'POR', 'city': 'Por...",None
19,Darington,None,None,1944,Hobson,,"{'id': 17, 'abbreviation': 'MIL', 'city': 'Mil...",None
20,Cory,None,None,1945,Higgins,,"{'id': 4, 'abbreviation': 'CHA', 'city': 'Char...",None
21,Dennis,None,None,1946,Horner,,"{'id': 3, 'abbreviation': 'BKN', 'city': 'Broo...",None
22,Chris,None,None,1947,Singleton,,"{'id': 30, 'abbreviation': 'WAS', 'city': 'Was...",None
23,Carldell,None,None,1948,Johnson,,"{'id': 19, 'abbreviation': 'NOP', 'city': 'New...",None
24,Ivan,None,None,1949,Johnson,,"{'id': 1, 'abbreviation': 'ATL', 'city': 'Atla...",None

In [5]:
jugadores.columns

Index(['first_name', 'height_feet', 'height_inches', 'id', 'last_name',
       'position', 'team', 'weight_pounds'],
      dtype='object')

In [6]:
jugadores.to_csv('API-Basketball1.csv', index=False)